/*  (do not remove this :) */

/*  (not this either :) */

/* http://i03.tcdn.cc/sc/portal_css/base.css?original=1 */

/* */

/* */

body {
	font: 11pt "Arial", Lucida Grande, Verdana, Lucida, Helvetica, sans-serif;
	color: #000000;
}

table {
	font-size: 100%;
}

a {
	color: #000;
	background-color: transparent;
}

img {
	border: none;
	vertical-align: middle;
}

p {
	margin: 0 0 0.75em 0;
	line-height: 1.5em;
}

p img {
	border: none;
	margin: 0;
}

hr {
	border: 0;
	height: 1px;
	color: #8cacbb;
	background-color: #8cacbb;
	margin: 0.5em 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #000000;
	font-family: "Arial", Lucida Grande, Verdana, Lucida, Helvetica, sans-serif;
	margin: 0.75em 0 0.25em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #000000 ! important;
	text-decoration: none;
}

h1 {
	font-size: 160%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 125%;
	border-bottom: none;
	font-weight: bold;
}

h4 {
	font-size: 110%;
	border-bottom: none;
	font-weight: bold;
}

h5 {
	font-size: 100%;
	border-bottom: none;
	font-weight: bold;
}

h6 {
	font-size: 85%;
	border-bottom: none;
	font-weight: bold;
}

#content-core ul {
	line-height: 1.5em;
	padding: 0;
}

#content-core ol {
	line-height: 1.5em;
	padding: 0;
}

li {
	margin-bottom: 0.5em;
	list-style-position: inside;
}

#content-core dt {
	font-weight: bold;
}

#content-core dd {
	line-height: 1.5em;
	margin-bottom: 1em;
}

abbr, acronym, .explain {
	border-bottom: 1px dotted #000000;
	color: #000000;
	background-color: transparent;
	cursor: help;
}

abbr .explain {
	border-bottom: none;
}

q {
	font-family: Baskerville, Georgia, serif;
	font-style: italic;
	font-size: 120%;
}

blockquote {
	padding-left: 0.5em;
	margin-left: 0;
	border-left: 4px solid #8cacbb;
	color: #76797c;
}

code, tt {
	font-family: Monaco, "Courier New", Courier, monospace;
	font-size: 120%;
	color: #000000;
	background-color: #fefefe;
	padding: 0 0.1em;
}

pre {
	font-family: Monaco, "Courier New", Courier, monospace;
	font-size: 100%;
	padding: 1em;
	border: 1px solid #8cacbb;
	color: #000000;
	background-color: #fefefe;
	overflow: auto;
}

ins {
	color: green;
	text-decoration: none;
}

del {
	color: red;
	text-decoration: line-through;
}

body.largeText {
	font-size: 95%;
}

body.smallText {
	font-size: 60%;
}

/* */

h1, h2 {
	border-bottom: 1px solid #8cacbb;
	font-weight: normal;
}

/* */

body.kssActive h2.inlineEditable:hover,
body.kssActive h1.inlineEditable:hover,
body.kssActive h2.formlibInlineEditable:hover,
body.kssActive h1.formlibInlineEditable:hover {
	padding-bottom: 1px;
}

h3, h4, h5, h6 {
	border-bottom: none;
	font-weight: bold;
}

.documentFirstHeading {
	margin-top: 0;
}

.documentContent {
	font-size: 110%;
	padding: 1em 1em 2em 1em !important;
	background: White;
}

.documentContent ul {
	list-style-image: url(http://i03.tcdn.cc/sc/bullet.gif);
	list-style-type: square;
	margin: 0.5em 0 0 1.5em;
}

.documentContent ol {
	margin: 0.5em 0 0 2.5em;
}

/* */

.documentContent p a {
	text-decoration: none;
	border-bottom: 1px #ccc solid;
}

.documentContent p a:visited {
	color: #000;
	background-color: transparent;
}

.documentContent p a:active {
	color: #000;
	background-color: transparent;
}

#content a:target {
	background-color: #fd7 !important;
}

.documentContent li a {
	text-decoration: none;
	border-bottom: 1px #cccccc solid;
}

.documentContent li a:visited {
	color: #000;
}

.documentContent li a:active {
	color: #000;
}

.documentContent dd a {
	text-decoration: none;
	border-bottom: 1px #cccccc solid;
}

.documentContent dd a:visited {
	color: #000;
	background-color: transparent;
}

.documentContent dd a:active {
	color: #000;
	background-color: transparent;
}

#content-news h1 {
	margin-bottom: 1em;
}

/* */

#content h5,
#content h6 {
	color: #76797c;
}

.newsItem {
	margin-bottom: 1em;
	border-bottom: 1px solid #8cacbb;
}

.newsImage {
	border: 1px solid #ccc;
}

.newsImageContainer {
	float: right;
	margin: 0 0 0.5em 1em;
	width: 202px;
}

.newsContent {
	padding: 0 1em 1em 1em;
}

.newsContent ul,
.newsContent li {
	display: block;
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

.newsAbout {
	display: block;
	color: #76797c;
	font-size: 85%;
	padding: 0;
	margin-top: 0;
	list-style: none;
	list-style-image: none;
	float: right;
	text-align: right;
}

.newsAbout li {
	display: inline;
}

.newsFooter {
	
}

.newsFooter li {
	display: inline;
	margin: 0 1em 0 0;
}

dl.portalMessage {
	font-size: 85%;
	background-color: #ffffe3;
	border: 1px solid #996;
}

dl.portalMessage a {
	color: black;
	border: none;
	text-decoration: underline;
}

dl.portalMessage dt {
	background-color: #996;
	font-weight: bold;
	float: left;
	margin: 0 0.5em 0 0;
	padding: 0.5em 0.75em;
	color: White;
	line-height: 1.25em;
}

dl.portalMessage dd {
	padding: 0.5em 0.5em;
	margin: 0;
	line-height: 1.25em;
}

dl.warning {
	border-color: #d80;
}

dl.warning dt {
	background-color: #d80;
}

dl.error {
	border-color: #d00;
}

dl.error dt {
	background-color: #d00;
}

dl.warning {
	border-color: #d80;
}

dl.warning dd {
	background-color: #fd7;
}

dl.error {
	border-color: #d80;
}

dl.error dd {
	background-color: #fd7;
}

.documentDescription {


/* */
font-weight: bold;
	display: block;
	margin: 0em 0em 0.5em 0em;
	line-height: 1.5em;
}

.documentByLine {
	font-size: 85%;
	font-weight: normal;
	color: #76797c;
	margin-bottom: 0.5em;
}

dl.searchResults span.documentByLine {
	display: block;
}

.discussion {
	margin-top: 1em;
}

.even {
	background-color: #eef3f5;
}

.odd {
	background-color: transparent;
}

.visualHighlight {
	background-color: #ffc;
}

.discreet {
	color: #76797c;
	font-size: 85%;
	font-weight: normal;
}

.pullquote {
	padding: 0 1em 0 1em;
	margin: 0 0 1em 1em;
	font-weight: bold;
	color: #CC9933;
	float: right;
	width: 35%;
	clear: right;
	background-color: White;
	border-left: 4px solid #8cacbb;
}

.callout {
	font-weight: bold;
	color: #CC9933;
	padding: 0px 1em;
}

.notify,
.documentEditable * .notify {
	border: 1px solid #ffa500;
}

.card {
	background-color: #dfefef;
	border-color: #8cacbb;
	border-width: 1px;
	border-style: solid;
	float: left;
	margin: 1em;
	text-align: center;
	width: 110px;
	padding: 1em 0;
}

.card a {
	text-decoration: none;
}

.portrait {
	background-color: #fefefe;
	border-color: #8cacbb;
	border-width: 1px;
	border-style: solid;
	font-size: 85%;
	margin: 0.5em;
	padding: 1em 0 0.5em 0;
	text-align: center;
	width: 100px;
}

.portraitPhoto {
	border: 1px solid black;
}

/* */

table.listing,
.stx table {


/* */
border-collapse: collapse;
	border-spacing: 0;
	border-left: 1px solid #8cacbb;
	border-bottom: 1px solid #8cacbb;
	font-size: 85%;
	margin: 1em 0em 1em 0em;
}

table.listing th,
.stx table th {
	background: #fefefe;
	border-top: 1px solid #8cacbb;
	border-bottom: 1px solid #8cacbb;
	border-right: 1px solid #8cacbb;
	font-weight: normal;
	padding: 0.25em 0.5em;
	text-transform: none;
}

table.listing .top {
	border-left: 1px solid White;
	border-top: 1px solid White ! important;
	border-right: 1px solid White ! important;
	text-align: right ! important;
	padding: 0em 0em 1em 0em;
}

table.listing .listingCheckbox {
	text-align: center;
}

table.listing td,
.stx table td {
	border-right: 1px solid #8cacbb;
	padding: 0.25em 0.5em;
}

table.listing a {
	text-decoration: none;
}

table.listing a:hover {
	text-decoration: underline;
}

table.listing img {
	vertical-align: middle;
}

table.listing td a label,
.stx table td a label {
	cursor: pointer;
}

/* */

table.vertical {
	background-color: White;
}

table.vertical th {
	padding: 0.5em;
}

table.vertical td {
	border-top: 1px solid #8cacbb;
	padding: 0.5em;
}

/* */

table.grid td {
	border: 1px solid #8cacbb;
	padding: 0.5em;
}

/* */

table.plain,
table.plain td,
table.plain th {
	border: 1px solid #ccc;
	padding: 0.5em;
	border-collapse: collapse;
}

/* */

.listingBar {
	background-color: #fefefe;
	border-color: #8cacbb;
	border-style: solid;
	border-width: 1px;
	padding: 0em 1em;
	text-align: center;
	text-transform: none;
	vertical-align: top;
	margin: 1em 0em;
	font-size: 94%;
	clear: both;
}

.listingBar span.previous,
.listingPrevious {
	text-align: left;
	float: left;
	margin-right: 1em;
}

.listingBar span.next,
.listingNext {
	text-align: right;
	float: right;
	margin-left: 1em;
}

.listingBar img {
	vertical-align: middle;
}

.listingBar a {
	text-decoration: none;
}

.tileItem {
	border-top: 1px solid #8cacbb;
	padding-top: 0.5em;
	margin-top: 0.5em;
}

.tileHeadline {
	border: none;
	font-size: 110%;
	font-weight: bold;
}

.tileHeadline a {
	text-decoration: none;
}

.tileBody {
	margin-bottom: 0.5em;
}

.tileImage {
	float: right;
	margin: 0 0 0.5em 0.5em;
	border: 1px solid black;
}

.eventDetails {
	float: right;
	width: 20em;
	clear: right;
	margin: 0 0 0.5em 1em;
}

.photoAlbumEntry {
	float: left;
	position: relative;
	overflow: hidden;
	height: 185px;
	width: 143px;
	margin: 0em;
	padding: 0px 6px 0px 9px;
	text-align: center;
	background-image: url('http://i03.tcdn.cc/sc/polaroid-single.png');
	background-repeat: no-repeat;
}

.photoAlbumEntry img {
	border: 1px solid #ccc;
	display: block;
	margin: 0 auto;
}

.photoAlbumEntryWrapper {
	height: 130px;
	width: 128px;
	margin-bottom: 7px;
}

.photoAlbumEntry a {
	display: block;
	text-decoration: none;
	font-size: 85%;
	height: 169px;
	width: 130px;
	margin: 16px auto 0px;
}

.photoAlbumFolder {
	background-image: url('http://i03.tcdn.cc/sc/polaroid-multi.png');
	background-repeat: no-repeat;
}

.photoAlbumEntryTitle {
	color: #76797c;
	display: block;
	width: 128px;
	height: 3.6em;
}

/* */

a.link-parent {
	display: block;
	background: transparent url(http://i03.tcdn.cc/sc/arrowUp.gif) 4px 5px no-repeat;
	padding: 1px 0px 10px 16px;
	font-size: 85%;
	text-decoration: none;
}

#content .link-category {
	color: #74ae0b !important;
}

#content .link-user {
	background: transparent url(http://i03.tcdn.cc/sc/user.gif) 0 1px no-repeat;
	padding: 1px 0px 1px 16px;
}

#content .link-comment {
	background: transparent url(http://i03.tcdn.cc/sc/discussionitem_icon.gif) center left no-repeat;
	padding: 1px 0px 1px 16px !important

;
/* */
}

#content .link-anchor {
	color: #76797c;
	text-decoration: none;
	font-weight: normal;
}

#content .link-presentation {
	font-size: 90%;
	text-align: center;
}

#content .link-wiki-add {
	color: red;
}

/* */

/* */

.visualGhosted {
	opacity: 0.2;
}

.image-left {
	float: left;
	clear: both;
	margin: 0.5em 1em 0.5em 0;
	border: 1px solid Black;
}

.image-inline {
	float: none;
}

.image-right {
	float: right;
	clear: both;
	margin: 0.5em;
	border: 1px solid Black;
}

dd.image-caption {
	text-align: left;
	padding: 0;
	margin: 0;
}

dl.captioned {
	padding: 10px;
}

/* */

#dashboard-info-message {
	padding-top: 0.5em;
}

#dashboard {
	width: 68em;
}

#dashboard-portlets1,
#dashboard-portlets2,
#dashboard-portlets3 {
	float: left;
	width: 16em;
	padding: 0.7em 1.3em 0 0;
}

#dashboard-portlets4 {
	float: left;
	width: 16em;
	padding-top: 0.7em;
}

#dashboard-portlets1 a,
#dashboard-portlets2 a,
#dashboard-portlets3 a,
#dashboard-portlets4 a {
	border-bottom: medium none;
}

#dashboard-portlets1 dl.portlet,
#dashboard-portlets2 dl.portlet,
#dashboard-portlets3 dl.portlet,
#dashboard-portlets4 dl.portlet {
	margin-bottom: 1.5em;
}

div.managedPortlet.portlet {
	border-bottom: none;
}

#dashboard select {
	width: 100%;
}

.portletAssignments {
	margin-top: 1.5em;
}

#dashboard-portlets1 div.managedPortlet a,
#dashboard-portlets2 div.managedPortlet a,
#dashboard-portlets3 div.managedPortlet a,
#dashboard-portlets4 div.managedPortlet a {
	text-decoration: none;
	color: #000000;
	border-bottom: 1px solid #000000;
}

#dashboard-portlets1 div.managedPortlet span a,
#dashboard-portlets2 div.managedPortlet span a,
#dashboard-portlets3 div.managedPortlet span a,
#dashboard-portlets4 div.managedPortlet span a {
	border-bottom: none;
}

#dashboard-actions {
	float: right;
}

#dashboard-actions ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-top: 0;
}

#dashboard-actions ul li {
	display: inline;
	padding-left: 0.7em;
}

#dashboard-actions ul li.portalUser {
	background: transparent url(http://i03.tcdn.cc/sc/user.gif) no-repeat scroll left center;
	padding-left: 18px;
}