
#portal-globalnav ul.submenu {
	padding-top: 30px;
	background: none;
	border: 0 none;
}
#portal-globalnav ul.submenu li{
 	text-align: left;
 	padding: 0 ;
 	background: #FFF;
 	margin:  0;
 	border: 0 none;
 	opacity: 0.9;
}

#portal-globalnav ul.submenu li a{
     text-decoration: none;
     display: block;
     width: 87%;
     padding: 3px 5% 5px 8%;
 	 margin:  0;
 	 font-size: 13px;
 	 text-transform: capitalize;
 	 color:  #AAA;
} 	 

#portal-globalnav ul.submenu li :hover { 	 
	background: #8a8a8a !important;	
} 

#portal-globalnav ul.submenu a:hover { 	 
	color:  white; 
} 

 
.selected ul.submenu {
	z-index: 99;
}


