
 
/* @group icons */
.icons-on .contenttype-document {
background: no-repeat transparent 0px 4px url(contenttypes-sprite.png);
}


.icons-on .contenttype-event {
background: no-repeat transparent 0px -212px url(contenttypes-sprite.png);
}
.icons-on .contenttype-folder {
background: no-repeat transparent 0px -644px url(contenttypes-sprite.png);
}
.icons-on .contenttype-link {
background: no-repeat transparent 0px -1076px url(contenttypes-sprite.png);
}
.icons-on .contenttype-news-item {
background: no-repeat transparent 0px -1292px url(contenttypes-sprite.png);
}
.icons-on .contenttype-plone-site {
background: no-repeat transparent 0px -1508px url(contenttypes-sprite.png);
}
.icons-on .contenttype-collection {
background: no-repeat transparent 0px -1724px url(contenttypes-sprite.png);
}
.icons-on .contenttype-topic {
background: no-repeat transparent 0px -1724px url(contenttypes-sprite.png);
}
/* */
.icons-on #plone-contentmenu-factories .contenttype-file {
background: no-repeat transparent 0px -428px url(contenttypes-sprite.png);
}
.icons-on #plone-contentmenu-factories .contenttype-image {
background: no-repeat transparent 0px -860px url(contenttypes-sprite.png);
}

.icons-on .contenttype-document,
.icons-on .contenttype-event,
.icons-on .contenttype-folder,
.icons-on .contenttype-link,
.icons-on .contenttype-news-item,
.icons-on .contenttype-plone-site,
.icons-on .contenttype-collection,
.icons-on .contenttype-topic,
.icons-on #plone-contentmenu-factories .contenttype-file,
.icons-on #plone-contentmenu-factories .contenttype-image {
line-height: 2em;
display: inline-block;
*display: block;
padding-left: 20px !important;
}

/* @end */