.photoAlbumEntry {
	float: left;
	position: relative;
	overflow: hidden;
	height: 185px;
	width: 143px;
	margin: 0em;
	padding: 0px 6px 0px 9px;
	text-align: center;
	background-image: url('polaroid-single.png');
	background-repeat: no-repeat;
}

.photoAlbumEntry img {
	border: 1px solid #ccc;
	display: block;
	margin: 0 auto;
}

.photoAlbumEntryWrapper {
	height: 130px;
	width: 128px;
	margin-bottom: 7px;
}

.photoAlbumEntry a {
	display: block;
	text-decoration: none;
	font-size: 85%;
	height: 169px;
	width: 130px;
	margin: 16px auto 0px;
}

.photoAlbumFolder {
	background-image: url('polaroid-multi.png');
	background-repeat: no-repeat;
}

.photoAlbumEntryTitle {
	color: #76797c;
	display: block;
	width: 128px;
	height: 3.6em;
}

