
 #portal-globalnav {
	background: url(vertical_split.png) repeat-x left center;
	height: 56px;
	padding: 0;
	margin:  0;
	clear: both;
	list-style-type: none;
	list-style-image: none;
	font-family: verdana, helvetica, sans-serif;
	border: 1px solid #BBB;	
	-moz-box-shadow: 0px 3px 7px #DDD;
	-webkit-box-shadow: 0px 3px 7px #DDD;
	box-shadow: 0px 3px 7px #DD;
}

 

 #portal-globalnav  li {
	float: left;
	line-height: 56px;
	padding-right: 10px;                               
	border-right: 1px solid #BBB;
}

 #portal-globalnav  li a {
	display: block;
	float: left;
	font-size: 13px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	padding-left:20px;
	padding-right: 20px;
	text-transform: uppercase;
        background: url(v_down.png) no-repeat right center;
}

li#portaltab-index_html a {
	color: #FFF;
        background-image: none;
} 

li#portaltab-index_html {
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
        background: #c03;
        margin: -1px 0;
       line-height: 58px;
}


 
 #portal-globalnav  li a:hover {
	color: #c03;
}


