

    dl.portletNavigationTree {
	border:  0 none;
	background: black;
	padding-bottom: 0;
	opacity: 0.90;
}

ul.navTree.navTreeLevel0 > li a {
	display: block;
	padding: 8px 15px;
	border-bottom:1px solid #fefefe;
	opacity: 0.90;
	
	}

.navTreeCurrentItem {
	border-left: 8px solid red;;
	margin-left: -11px;

}



 


li.navTreeItem a {
	color:  #fefefe;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

 

