/* - SubSkins_globalnav_pa.css - */
@media screen {
/* http://xweb14f.plana.dk:8094/skuldal/portal_css/SubSkins_globalnav_pa.css?original=1 */
#portal-globalnav {
height:37px;
background:  #007FAE URL(subskins_getimage/%23007FAE/000forlopvII.jpg) repeat-x;
background-position: 0 -135px;
margin:  0;
padding: 0;
border-top:  1px solid #fff;
border-bottom:  1px solid #fff;;
clear: both;
}
#portal-globalnav li {
display: block;
float:  left;
font-weight: bold;
font-family: Arial;
line-height: 14px;
color: #FFFFFF;
border-right:  1px solid #fff;
height: 37px;
vertical-align: bottom;	text-align: center;
margin: 0;
}
#portal-globalnav li a{
font-weight: bold;
font-family: Arial;
font-size: 12px;
color: #FFFFFF;
vertical-align: bottom;
display: block;
padding-top: 12px;
height:25px;
width:  80px;
}
#portal-globalnav .selected,
#portal-globalnav :hover{
background: URL(subskins_getimage/%23007FAE/000forlopvII.jpg) repeat-x;
background-position: 0 -145px;
}
#portal-globalnav a:hover,
#portal-globalnav .selected a:hover{
color: white;
opacity: 0.85;
}


}


/* - SubSkins_navigation_2_5.css - */
@media screen {
/* http://xweb14f.plana.dk:8094/skuldal/portal_css/SubSkins_navigation_2_5.css?original=1 */

#portlet-navigation-tree .portletItem{
padding:0px 0px 0px 0px;
background-image: none;
overflow: hidden;
font-family: tahoma, arial, verdana, sans-serif;
list-style-type: none;
}
.portletNavigationTree{
list-style-type: none;
padding: 0px;
border: 0;
border-bottom-style: none;
}
.portletNavigationTree ul{
padding:0px 0px 0px 0px;
margin:0px;
list-style:none;
z-index:2;
border-top: 1px solid #525252;
}
.portletNavigationTree li{
margin: 0;
}
.portletNavigationTree li a{
display: block;
width: auto;
padding: 6px 6px;
padding-left: 10px;
border-top: 0px;
border-right: 0px;
color: #00B7FA;
text-decoration: none;
border-bottom: 1px solid  #525252;
}
.portletNavigationTree li.navTreeItem a.navTreeCurrentItem{
color: #00B7FA;
}
.portletNavigationTree li a:hover,
a.navTreeCurrentItem{
color: black;
}
.portletNavigationTree li a:hover{
font-weight: bold;
color: black;
}
.portletNavigationTree .navTreeLevel1 li a {
padding-left: 0.75em;
color: black;
font-weight: normal;
font-style: normal;
}
.portletNavigationTree .navTreeLevel2 li a {
padding-left: 1.5em;
color: black;
font-weight: normal;
font-style: normal;
}
.portletNavigationTree .navTreeLevel3 li a {
padding-left: 2.25em;
color: black;
font-weight: normal;
font-style: normal;
}
.portletNavigationTree .navTreeLevel2 a:hover {
padding-left: 1.5em;
}
.portletNavigationTree .navTreeLevel3 a:hover {
padding-left: 2.25em;
}


}


/* - no_search_section.css - */
@media screen {
/* http://xweb14f.plana.dk:8094/skuldal/portal_css/no_search_section.css?original=1 */
.searchSection {
display: none;
}
}


/* - SubSkins_portlets_clean_small_III.css - */
@media screen {
/* http://xweb14f.plana.dk:8094/skuldal/portal_css/SubSkins_portlets_clean_small_III.css?original=1 */
.portlet {
margin: 0 0 23px 0;
color: #666666;
border: 0 none;
font: normal 10px verdana, helvetica, sans-serif;
border-collapse: collapse;
background-color:  #efe1cc;
}
.portlet a.tile {
color: #333;
text-decoration: none;
clear: both;
}
.portlet ul {
list-style-type: none;
}
.portlet ul, .portlet dl, .portlet li, .portlet dt, .portlet dd {
margin: 0;
}
.portletHeader {
background: #AD6800 url(subskins_getimage/%23AD6800/mountains.png) no-repeat right top;
height: 26px;
margin: 0;
padding: 0;
color: whitesmoke;
font-variant: normal;
text-transform: none;
font-size: 12px;
line-height: 26px;
padding-left:  10px;
}
.portletCalendar dt.portletHeader {
padding-left: 0;
background: #00B7FA url(subskins_getimage/%2300B7FA/mountains.png) no-repeat right top;
}
.portletHeader a.tile {
text-decoration: none;
text-transform: capitalize !important;
color: whitesmoke;
padding-top: 0px
}
.portletNavigationTree .portletItem,
.portletCalendar .portletItem{
padding: 0;
}
.portletItem {
padding: 6px 10px;
}
.portletItemDetails {
font-weight: normal;
font-style: normal;
font-size: 9px;
padding-right: 10px;
margin-bottom: 6px;
padding-top: 2px;
clear: both;
display: block;
}
.portlet.portletThirdWidth {
margin-top: 20px !important;
margin-right:22px !important;
}
#portlet-page-view {
background-color: #FA6C00;
}
#portlet-page-view p {
margin: 4px 6px 12px 6px;
color: white;
font-size: 12px;
}
.portletItem  img.image-inline {
border: 2px solid whitesmoke;
}
.boardCommentHeaderTitleBlock {
font-size: 134%;
line-height: 150%;
}
#portlet-page-view a {
color: white;
}
.portletHeader a {
color: whitesmoke;
}
.visualNoMarker img {
float: left;
margin-right: 5px;
margin-top: -1px;
}
dd.portletFooter {
line-height: 20px;
padding-left: 10px;
}
.portletFooter {
background: #525252  url(subskins_getimage/%23525252/menu_item.gif);
border: 0 none;
padding: 2px 15px;
clear: both;
text-align: right;
border-top: 1px solid #FA6C00;
}
.portletFooter a {
color: black;
text-align: right;
line-height: 130%;
}
.portletLogin  dt {
background: #00B7FA;
}
.portletLogin .label {
padding: 4px;
display: block;
margin: 10px;
}
.portletLogin .portletItem {
padding-top: 0;
padding-bottom: 5px;
}
.portletLogin dt.portletHeader a.tile {
color: white;
font-weight: bold;
}
input#__ac_name,
input#__ac_password {
width: 130px;
margin-top: 4px;
}
.portletLogin div.field {
margin-bottom: 12px;
}


}


/* - SubSkins_text_arty.css - */
@media screen {
/* http://xweb14f.plana.dk:8094/skuldal/portal_css/SubSkins_text_arty.css?original=1 */
body {
font-family: verdana, helvetica, sans-serif;
font-size: 10px;
}
h1 {
font-family: verdana, helvetica, sans-serif;
font-size: 14px;
line-height: 20px;
color:  #AD6800;
}
h2 {
font-size: 13px;
line-height: 17px;
margin-top: 17px;
}
h2.tileHeadline {
border-top: 2px dotted #AD6800;
margin-top: 20px;
padding-top: 13px;
text-transform: uppercase;
}
.summary.url {
color:  #AD6800;
font-size: 14px;
font-weight: normal;
font-style: normal;
}
h5 {
margin-bottom: 10px;
}
p.documentDescription,
.documentDescription {
background-image: none;
background: none;
padding: 4px 0px 0px 0px;
color: #2f3130;
font-size: 11px;
line-height: 17px;
font-weight: bold;
}
a {
font-size: 10px;
font-weight: bold;
color: #AD6800;
text-decoration: none;
}
a:hover {
color: #00B7FA;
}
p {
font-family: verdana, helvetica, sans-serif;
font-size: 11px;
line-height: 16px;
}
p a:link {
color:  #AD6800;
}
img {
border: none;
}
img.image-right,
img.tileImage {
float: right;
margin: 8px 0 10px 20px;
}
span#parent-fieldname-imageCaption {
padding-left: 20px;
}
div.newsImageContainer {
float: right;
}
p.tileFooter {
margin-top: 10px;
}
p.tileFooter a {
color:  #AD6800;
font-weight: normal;
font-style: normal;
text-transform: uppercase;
padding: 2px 0 3px 25px;
background: url(buttonForward.png) no-repeat;
}
.documentByLine {
margin: 10px 0;
}
.documentByLine,
.documentByLine a {
text-transform: uppercase;
font-weight: normal;
font-style: normal;
font-size: 9px;
}
img.image-left{
float: left;
margin: 8px 20px 10px 0;
}
input {
border: 1px solid #2f4355;
margin: 5px 0;
}
#content-core ul {
padding-left: 2em;
}
ol {
margin: 0.5em 0 0.75em 2em;
}
#content-core  li {
margin: 0.5em 0;
}
dl {
margin: 0.5em 1em 0.75em;
}
dt {
margin: 0.75em 0;
font-weight: bold;
}
dd {
margin: 0.5em 0;
}
a.tile {
color: black;
}
fieldset {
padding: 1em;
border: 1px solid #ccc;
}
legend {
font-weight: bold;
}
form {
border: 0;
}
label {
font-weight: bold;
display: inline;
}
textarea {
border: 1px solid #ccc;
margin: 5px 0;
}
select {
border: 1px solid #ccc;
}
.field {
margin-top: 0.75em;
}
.formControls input, .searchButton {
padding: 2px;
padding-left: 20px;
}
table {
border-collapse: collapse;
font-size: 1em;
}
tbody {
}
tr {
}
th {
}
td {
}
em {
font-style: normal;
font-weight: bold;
}
strong {
font-weight: bold;
}
cite, q {
}
blockquote {
margin: 0.7em 0;
padding: 0.5em 10px;
border: 1px solid #ccc;
color: #666666;
}
code, kbd {
background: #333;
color: #ccc;
font-family: "Lucida console", Lucida, Monaco, "Courier New", Courier, monospace;
}
pre {
margin: 0.5em 2em 0.75em 2em;
padding: 0.5em;
background: #333;
color: #666666;
font-family: "Lucida console", Lucida, Monaco, "Courier New", Courier, monospace;
}
ins {
}
del {
color: #999;
text-decoration: overline;
}
.portalMessage {
padding: 0.375em 1em;
margin-left: 0;
margin-right:  0;
background: #525252;
border: 1px solid #eb0000;
}
.documentActions ul {
margin: 0;
text-align: right;
}
.documentActions ul li {
display: inline;
padding-right: 0.5em;
}
.documentActions ul li a {
border: 0;
}
.documentFirstHeading {
color:  #00B7FA;
font-weight: normal;
font-style: normal;
text-transform: uppercase;
font-size: 20px;
padding: 0px;
font-weight: normal;
margin: 2px 0px 14px 0px;
}
.documentDescription {
padding: 0.5em;
background: #f3f3f3;
margin-bottom: 1.5em;
}
.comment {
border: 1px solid #ccc;
background: #f3f3f3;
}
.photoAlbumEntryWrapper {
float: left;
}
.photoAlbumEntryTitle {
float: left;
clear: both;
margin-top: 6px;
}
#content  div div.photoAlbumEntry a {
float: left;
margin: 20px 20px 10px 0
}

}


/* - SubSkins_bottom1.css - */
@media screen {
/* http://xweb14f.plana.dk:8094/skuldal/portal_css/SubSkins_bottom1.css?original=1 */



#portal-footer{
padding: 1em;
border-bottom: 1px solid #bcbcbc;
background: #eee url(bg-footer.jpg) top left repeat-x;
color: #666;
text-align: center;
font-size: 0.875em;
display: none;
}
#portal-footer p{
margin: 0;
}
#portal-colophon{
padding: 1em 1em 0.5em;
border-top: #999;
color: #ccc;
font-size: 0.875em;
margin: 0 50px 0 50px;
text-align: center;
}
#portal-colophon a{
color: #ccc;
}
#portal-colophon p{
display: inline;
margin: 0;
padding-left: 0.5em;
}
#portal-colophon ul{
list-style-type: none;
display: inline;
margin: 0;
}
#portal-colophon ul li{
display: inline;
padding-left: 0.5em;
}
.colophonWrapper{
display: inline;
}

}


/* - SubSkins_base_forl1.css - */
@media screen {
/* http://xweb14f.plana.dk:8094/skuldal/portal_css/SubSkins_base_forl1.css?original=1 */


body {
position: relative;
background:  #007FAE url(subskins_getimage/%23007FAE/000forlop.jpg) repeat-y;
background-position: right;
}


#visual-portal-wrapper{
position: relative;
width:  820px;
background: #fff;
text-align: left;
margin: 0 auto;
border-right: 1px dotted silver;
}
#portal-column-one{
width:  170px;
padding: 0 20px;
color: #ccc;
background: #fff;
border-right: 1px solid #ccc;
background: white;
}
#portal-column-two{
width:   150px;
padding: 0 20px;
color: #ccc;
background: white;
}
#portal-column-content{
padding: 10px 20px;
}


}


/* - columns-padding.css - */
@media screen {
/* http://xweb14f.plana.dk:8094/skuldal/portal_css/columns-padding.css?original=1 */
td#portal-column-one,
td#portal-column-two {
padding: 20px;
}

}


/* - SubSkins_top_earh.css - */
@media screen {
/* http://xweb14f.plana.dk:8094/skuldal/portal_css/SubSkins_top_earh.css?original=1 */
#portal-top {
width: 100%;
height: auto;
}
#portal-header {
width: 100%;
background: url(subskins_getimage/%23AD6800/roundbrey.gif) no-repeat right bottom;
}
#portal-searchbox {
position: absolute;
top:  25px;
height: 40px;
width: 195px;
padding: 8px;
right: 20px;
background: white;
}
#portal-logo {
float:  left;
padding: 25px 20px 20px 20px;
}
#portal-siteactions {
display: block;
float: right;
margin: 2px;
}
#portal-siteactions li {
display: inline;
padding: 2px 12px;
font-size: 8pt;
border-left: 1px dotted #CCC;
}
#portal-siteactions li a:hover {
color: #333;
}
#portal-breadcrumbs {
margin-left: 20px;
margin-bottom: 10px;
}
#portal-siteactions {
white-space: nowrap;
list-style-image: none;
list-style-type: none;
float: right;
padding: 0;
}
#portal-siteactions li a {
color: #9e9e9e;
text-decoration: none;
text-transform: lowercase;
font-weight: normal;
font-style: normal;
font-size: 90%;
}
#portal-personaltools {
float: right;
margin: 2px 10px;
padding: 0;
}
#portal-personaltools li {
display: inline;
list-style: none;
list-style-image: none;
}
#portal-personaltools li a {
text-decoration: none;
margin-left: 1em;
margin-right: 1em;
font-weight: normal;
font-style: normal;
}
#portal-breadcrumbs {
margin: 7px 20px;
float: left; width: auto;
}

.LSRes {
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
visibility: visible;
color: #666666;
background-color: white;
vertical-align: middle;
display: block;
list-style-image: none;
list-style-type: none;
text-align: left;
min-width: 16.5em;
text-transform: none;
margin-left: 0;
line-height: 1em;
}
#LSHighlight {
background-color: white;
}
.LSRow {
padding: 0;
margin: 0;
list-style-image: none;
list-style-type: none;
}
.LSRow a {
text-decoration: none;
font-weight: bold;
white-space: nowrap
}
.LSDescr {
color: #777777	;
text-transform: lowercase;
padding-left: 2.1em;
margin-top: -0.1em;
}
.LSResult {
position: relative;
display: block;
text-align: right;
padding-top: 0px;
padding-bottom: 0px;
margin: 0;
left: 3px;
top: 1em;
z-index: 3;
}
.LSShadow {
position: relative;
}
.livesearchContainer {
background-color: white;
margin-top: 0;
padding: 0 !important;
position: absolute;
left: 0px;

top: 0;
white-space: normal;
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
visibility: visible;
text-align: left;
color: #666666;
border: 1px solid #999999;
width: 30em;
text-transform: none;
}
* html .livesearchContainer {
padding: 1px !important;
padding-top: 0 !important;
background-color: white;
border: 0;
}
#livesearchLegend {
line-height: 1em;
margin-top: -2em;
margin-left: -0.1em;
border: 2px solid #999999;
border-bottom: 0;
}
* html #livesearchLegend {
margin-top: -1.9em;
margin-left: -8px;
position: relative;
}

.LSIEFix {
background-color: white;
padding: 0.5em !important;
z-index: 20;
}
.LSBox {
clear: left;
float: left;
text-align: right;
padding-right: 1px;
display: block;
}
#LSNothingFound {
text-align: center;
padding: 2px;
}


}


/* - breadcrumbs-margin.css - */
@media screen {
/* http://xweb14f.plana.dk:8094/skuldal/portal_css/breadcrumbs-margin.css?original=1 */
#portal-breadcrumbs {
margin: 10px 20px;
}

}


/* - SubSkins_calendar_clean_small.css - */
@media screen {
/* http://xweb14f.plana.dk:8094/skuldal/portal_css/SubSkins_calendar_clean_small.css?original=1 */



.dayPopup {
background-color: #525252;
padding: 0.2em;
position: absolute;
visibility: hidden;
width: 12em;
z-index: 2;
border: 1px solid #FA6C00;
}
.date {
font-weight: bold;
}
.ploneCalendar {
width: 100%;
border-collapse: separate;
border-spacing: 1px;
border: 1px solid #007FAE ;
background: white;
margin: 0;
padding: 0;
font-variant: normal;
}
.portletCalendar .portletItem {
padding:  0;
}
.ploneCalendar a {
color: whitesmoke;
}
.ploneCalendar a:hover {
text-decoration: none;
}
.ploneCalendar th {
padding: 0.2em 0.5em;
background:  url(subskins_getimage/%23007FAE/000forlopvII.jpg) repeat-x left;
color: whitesmoke;
line-height: 1.6em;
text-align: center;
font-weight: normal;
}
.ploneCalendar td {
text-align: center;
color: #999;
padding: 0.2em;
}
.ploneCalendar .weekdays td {
text-align: center;
}
.ploneCalendar .event {
color: whitesmoke;
font-weight: bold;
background-color:#AD6800;
}
.ploneCalendar .todayevent {
background-color: #00B7FA;
font-weight: bold;
color: whitesmoke;
}
.ploneCalendar .todaynoevent {
border-collapse: collapse;
border: 2px solid #007FAE;
}
.portlet.portletCalendar .portletHeader {
text-align: center;
padding-left: 7px;
padding-right: 7px;
}
#calendar-previous {
float: left;
}
#calendar-next {
float: right;
}


}

