/* - SubSkins_globalnav_abit_round_32.css - */

#portal-globalnav {
clear: both;
display: block;
padding: 0 5px;;
background: transparent;
margin: 10px;
border-bottom: 8px solid #327378;
height: 22px;
}
#portal-globalnav ul {
font: bold 11px Arial, Verdana, sans-serif;
list-style: none;
}
#portal-globalnav li {
display: block;
padding: 0;
text-transform: uppercase;
float: left;
background: #327378 url(white-dot.gif) no-repeat left top;
margin: 0 2px 0 0;
padding: 0 0 1px 3px;
text-decoration: none;
letter-spacing: 1px;
height: 19px;
}
#portal-globalnav li a {
color: white;
float: left;
display: block;
background: transparent url(white-dot.gif) no-repeat right top;
padding: 4px 9px 2px 6px;
}
#portal-globalnav li:hover,
#portal-globalnav li.selected {
background: #F7991E;
}


/* - subskins.css - */

#portal-columns #portal-breadcrumbs {
display: block;
float:  none;
margin-left:  0;
}
* {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
}
li.formTab a {
padding: 3px;
}
ul.configlets li {
list-style-type: none !important;
list-style-image: none !important;
}

#anon-personalbar {
padding: 0; margin: 0;
}


.visualClear {
display: block;
clear: both;
}
.visualPadding {
padding: 0;
}
.hiddenStructure, .netscape4 {
display: none;
}
.tile {
display: block;
}
body.fullscreen #portal-column-one,
body.fullscreen #portal-column-two {
display: none;
}
body.fullscreen #portal-column-content {
width: 100%;
margin: 0;
padding: 0;
}
.managedPortlet .portletHeader {
display: block;
}



html.kupu-html body {
background: #f3f3f3;
text-align: left;
font-size: 1em;
}
html.kupu-html body {
width: 98%;
}
.documentEditable  #content {
padding: 8px;
}
.verdana {
font-family: verdana, helvetica, sans-serif;
}
.times {
font-family: "Times New Roman", Times, Georgia, serif;
font-size: 115%;
}
.lucida {
font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
.helvetica {
font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}
.color1 {
color: #AC6914;
}
.color2 {
color: #F7991E;
}
.color3 {
color: #327378;
}
.color4 {
color: #8AD8DE;
}
.color5 {
color: #545454;
}
.color6 {
color: #ABABAB;
}
.black {
color: #000;;
}


.visualClear {
display: block;
clear: both;
}

.netscape4 {
display: none;
}

.hiddenStructure {
display: block;
background: transparent;
background-image: none;

border: none;
height: 1px;
overflow: hidden;
padding: 0;
margin: -1px 0 0 -1px;
width: 1px;
}
.contentViews .hiddenStructure,
.contentActions .hiddenStructure {
position: absolute;
top: -200px;
left: -200px;
}
.hiddenLabel {
display: block;
background: transparent;
background-image: none;

border: none;
height: 1px;
overflow: hidden;
padding: 0;
margin: -1px 0 0 -1px;
width: 1px;
}


div.overlay {
width: auto;
height: auto;

display:none;

margin:1em;
font-size: 80%;
}
div.overlay-iframe,
div.overlay-ajax {
width: 60%;
min-height: 100px;
z-index: 99; 
}
div.overlay-iframe {
height: 60%;
}

div.overlaybg div.close,
div.overlay div.close {
background-image: url(pb_close.png);
position: absolute;
left: -15px;
top: -15px;
cursor: pointer;
height: 30px;
width: 30px;
}
.pb-ajax, .pb-image {
white-space: normal;
border:0.5em solid #AC6914;
-moz-border-radius:0.35em;
-webkit-border-radius:0.35em;
-moz-box-shadow:0 0 1em #888;
-webkit-box-shadow:0 0 1em #888;
}
.pb-ajax > * {
background-color: #fff;
padding: 1em;
white-space: normal;
}
.pb-ajax .documentActions {display:none}
div.overlay div.close span {
display:block;
height:1px;
margin:-1px 0 0 -1px;
overflow:hidden;
padding:0;
width:1px;
}
div.overlay textarea { width: 100%; }
#portal-personaltools .actionMenuContent ul { border-top: 1px solid silver; padding-top: 10px; }



/* - SubSkins3_top_base.css - */

#portal-top {
width: 100%;
height: auto;
}
#portal-header {
width: 100%;
}
#portal-searchbox {
float: right;
clear: right;
margin: 0;
padding: 0;
padding-left: 10px;
}
#portal-logo {
float:  left;
padding: 10px 20px 5px 20px;
}
#portal-siteactions {
background-color: transparent;
white-space: nowrap;
list-style-image: none;
list-style-type: none;
margin: 1px 0 0 0;
line-height: normal;
padding:0;
float: right;
display: block;
height: 30px;
}
#portal-siteactions li {
display: inline-block;
padding: 0;
padding-right: 12px;
font-size: 8pt;
}
#portal-siteactions li a {
border: 1px solid transparent;
color: #327378;
padding: 0.5em;
text-decoration: none;
text-transform: lowercase;
font-weight: normal;
font-style: normal;
font-size: 90%;
margin: 0;
}
#portal-siteactions li a:hover {
background-color: #ffffff;
color: #000000;
border: 1px solid #8AD8DE;
}
#portal-siteactions li.selected a {
background-color: #ffffff;
color: #000000;
border: 1px solid #8AD8DE;
}
#portal-personaltools {
float: right;
margin: 0.5em 0;
padding: 0 15px;
}
#portal-personaltools li {
display: inline;
list-style: none;
list-style-image: none;
}
#portal-personaltools li a {
text-decoration: none;
margin-right: 1em;
margin-left: 1em;
margin-bottom: 10px;
}
#portal-breadcrumbs {
padding-left: 15px;
}
#portal-breadcrumbs a,
#portal-breadcrumbs span span {
float:left;
display: block;
padding:6px;
font-weight: normal;
}
#portal-breadcrumbs a {
color: #8AD8DE;
}
span#breadcrumbs-you-are-here{
display: none;
}

.LSRes {
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
visibility: visible;
color: #666666;
background-color: white;
vertical-align: middle;
display: block;
list-style-image: none;
list-style-type: none;
text-align: left;
min-width: 16.5em;
text-transform: none;
margin-left: 0;
line-height: 1em;
}
#LSHighlight {
background-color: white;
}
.LSRow {
padding: 0;
margin: 0;
list-style-image: none;
list-style-type: none;
}
.LSRow a {
text-decoration: none;
font-weight: bold;
white-space: nowrap
}
.LSDescr {
color: #777777	;
text-transform: lowercase;
padding-left: 2.1em;
margin-top: -0.1em;
}
.LSResult {
position: relative;
display: block;
text-align: right;
padding-top: 0px;
padding-bottom: 0px;
margin: 0;
left: 3px;
top: 1em;
z-index: 3;
}
.LSShadow {
position: relative;
}
.livesearchContainer {
background-color: white;
margin-top: 0;
padding: 0 !important;
position: absolute;
left: 0px;

top: 0;
white-space: normal;
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
visibility: visible;
text-align: left;
color: #666666;
border: 1px solid #999999;
width: 30em;
text-transform: none;
}
* html .livesearchContainer {
padding: 1px !important;
padding-top: 0 !important;
background-color: white;
border: 0;
}
#livesearchLegend {
line-height: 1em;
margin-top: -2em;
margin-left: -0.1em;
border: 2px solid #999999;
border-bottom: 0;
}
* html #livesearchLegend {
margin-top: -1.9em;
margin-left: -8px;
position: relative;
}

.LSIEFix {
background-color: white;
padding: 0.5em !important;
z-index: 20;
}
.LSBox {
clear: left;
float: left;
text-align: right;
padding-right: 1px;
display: block;
}
#LSNothingFound {
text-align: center;
padding: 2px;
}


/* - SubSkins_text_arty.css - */

body {
font-family: verdana, helvetica, sans-serif;
font-size: 10px;
}
h1 {
font-family: verdana, helvetica, sans-serif;
font-size: 14px;
line-height: 20px;
color:  #327378;
}
h2 {
font-size: 13px;
line-height: 17px;
margin-top: 17px;
}
h2.tileHeadline {
border-top: 2px dotted #327378;
margin-top: 20px;
padding-top: 13px;
text-transform: uppercase;
}
.summary.url {
color:  #327378;
font-size: 14px;
font-weight: normal;
font-style: normal;
}
h5 {
margin-bottom: 10px;
}
p.documentDescription,
.documentDescription {
background-image: none;
background: none;
padding: 4px 0px 0px 0px;
color: #2f3130;
font-size: 11px;
line-height: 17px;
font-weight: bold;
}
a {
font-size: 10px;
font-weight: bold;
color: #327378;
text-decoration: none;
}
a:hover {
color: #F7991E;
}
p {
font-family: verdana, helvetica, sans-serif;
font-size: 11px;
line-height: 16px;
}
p a:link {
color:  #327378;
}
img {
border: none;
}
img.image-right,
img.tileImage {
float: right;
margin: 8px 0 10px 20px;
}
span#parent-fieldname-imageCaption {
padding-left: 20px;
}
div.newsImageContainer {
float: right;
}
p.tileFooter {
margin-top: 10px;
}
p.tileFooter a {
color:  #327378;
font-weight: normal;
font-style: normal;
text-transform: uppercase;
padding: 2px 0 3px 25px;
background: url(buttonForward.png) no-repeat;
}
.documentByLine {
margin: 10px 0;
}
.documentByLine,
.documentByLine a {
text-transform: uppercase;
font-weight: normal;
font-style: normal;
font-size: 9px;
}
img.image-left{
float: left;
margin: 8px 20px 10px 0;
}
input {
border: 1px solid #2f4355;
margin: 5px 0;
}
#content-core ul {
padding-left: 2em;
}
ol {
margin: 0.5em 0 0.75em 2em;
}
#content-core  li {
margin: 0.5em 0;
}
dl {
margin: 0.5em 1em 0.75em;
}
dt {
margin: 0.75em 0;
font-weight: bold;
}
dd {
margin: 0.5em 0;
}
a.tile {
color: black;
}
fieldset {
padding: 1em;
border: 1px solid #ccc;
}
legend {
font-weight: bold;
}
form {
border: 0;
}
label {
font-weight: bold;
display: inline;
}
textarea {
border: 1px solid #ccc;
margin: 5px 0;
}
select {
border: 1px solid #ccc;
}
.field {
margin-top: 0.75em;
}
.formControls input, .searchButton {
padding: 2px;
padding-left: 20px;
}
table {
border-collapse: collapse;
font-size: 1em;
}
tbody {
}
tr {
}
th {
}
td {
}
em {
font-style: normal;
font-weight: bold;
}
strong {
font-weight: bold;
}
cite, q {
}
blockquote {
margin: 0.7em 0;
padding: 0.5em 10px;
border: 1px solid #ccc;
color: #666666;
}
code, kbd {
background: #333;
color: #ccc;
font-family: "Lucida console", Lucida, Monaco, "Courier New", Courier, monospace;
}
pre {
margin: 0.5em 2em 0.75em 2em;
padding: 0.5em;
background: #333;
color: #666666;
font-family: "Lucida console", Lucida, Monaco, "Courier New", Courier, monospace;
}
ins {
}
del {
color: #999;
text-decoration: overline;
}
.portalMessage {
padding: 0.375em 1em;
margin-left: 0;
margin-right:  0;
background: #545454;
border: 1px solid #eb0000;
}
.documentActions ul {
margin: 0;
text-align: right;
}
.documentActions ul li {
display: inline;
padding-right: 0.5em;
}
.documentActions ul li a {
border: 0;
}
.documentFirstHeading {
color:  #F7991E;
font-weight: normal;
font-style: normal;
text-transform: uppercase;
font-size: 20px;
padding: 0px;
font-weight: normal;
margin: 2px 0px 14px 0px;
}
.documentDescription {
padding: 0.5em;
background: #f3f3f3;
margin-bottom: 1.5em;
}
.comment {
border: 1px solid #ccc;
background: #f3f3f3;
}
.photoAlbumEntryWrapper {
float: left;
}
.photoAlbumEntryTitle {
float: left;
clear: both;
margin-top: 6px;
}
#content  div div.photoAlbumEntry a {
float: left;
margin: 20px 20px 10px 0
}


/* - SubSkins_calendar_small145.css - */

.dayPopup {
background-color: #545454;
padding: 0.2em;
position: absolute;
visibility: hidden;
width: 12em;
z-index: 2;
border: 1px solid #8AD8DE;
}
.date {
font-weight: bold;
}
.ploneCalendar {
width: 100%;
border-collapse: separate;
border-spacing: 1px;
border: 1px solid #AC6914 ;
margin: 0;
padding: 0;
background: #f2f2f2;
}
.portletCalendar dt.portletHeader {
text-align: center;
font-size: 11px;
padding: 0;
}
.portletCalendar .portletItem {
border-style: none !important;
border-width: 0;
padding:  0;
}
.ploneCalendar a:hover {
text-decoration: none;
}
.ploneCalendar th {
padding: 0.3em;
background: #AC6914 url(/subskins_getimage/%23AC6914/menu_item.gif) repeat-x left;
color: whitesmoke;
text-align: center;
font-weight: normal;
border-bottom: 1px solid  #AC6914;
}
.ploneCalendar td {
text-align: center;
color: #454545;
line-height: 1.3em;
}
.ploneCalendar .weekdays td {
text-align: center;
}
.ploneCalendar .event {
font-weight: bold;
background-color: #ABABAB;
}
.ploneCalendar .todayevent {
background-color: #AC6914;
font-weight: bold;
color: whitesmoke;
}
.ploneCalendar .todaynoevent {
border-collapse: collapse;
border: 2px solid #AC6914;
}



/* - SubSkins_portlets_clean_small_II.css - */

.portlet {
margin: 0 0 23px 0;
color: #666666;
border: 0 none;
font: normal 10px verdana, helvetica, sans-serif;
border-collapse: collapse;
background-color:  #fff5e9;
}
.portlet a.tile {
color: #333;
text-decoration: none;
clear: both;
}
.portlet ul {
list-style-type: none;
}
.portlet ul, .portlet dl, .portlet li, .portlet dt, .portlet dd {
margin: 0;
}
.portletHeader {
background: #F7991E url(/subskins_getimage/%23F7991E/earth_pattern.png) repeat-x left center;
height: 26px;
margin: 0;
padding: 0;
color: whitesmoke;
font-variant: normal;
text-transform: none;
font-size: 12px;
line-height: 26px;
padding-left:  10px;
}
.portletCalendar dt.portletHeader {
padding-left: 0;
background: #327378 url(/subskins_getimage/%23327378/earth_pattern.png) repeat-x left center;
}
.portletHeader a.tile {
text-decoration: none;
text-transform: capitalize !important;
color: whitesmoke;
padding-top: 0px
}
.portletNavigationTree .portletItem,
.portletCalendar .portletItem{
padding: 0;
}
.portletItem {
padding: 6px 10px;
}
.portletItemDetails {
font-weight: normal;
font-style: normal;
font-size: 9px;
padding-right: 10px;
margin-bottom: 6px;
padding-top: 2px;
clear: both;
display: block;
}
.portlet.portletThirdWidth {
margin-top: 20px !important;
margin-right:22px !important;
}
#portlet-page-view {
background-color: #8AD8DE;
}
#portlet-page-view p {
margin: 4px 6px 12px 6px;
color: white;
font-size: 12px;
}
.portletItem  img.image-inline {
border: 2px solid whitesmoke;
}
.boardCommentHeaderTitleBlock {
font-size: 134%;
line-height: 150%;
}
#portlet-page-view a {
color: white;
}
.portletHeader a {
color: whitesmoke;
}
.visualNoMarker img {
float: left;
margin-right: 5px;
margin-top: -1px;
}
dd.portletFooter {
line-height: 20px;
padding-left: 10px;
}
.portletFooter {
background: #F7991E  url(/subskins_getimage/%23F7991E/menu_item.gif);
border: 0 none;
padding: 2px 15px;
clear: both;
text-align: right;
border-top: 1px solid #327378;
}
.portletFooter a {
color: white;
text-align: right;
line-height: 130%;
}
.portletLogin  dt {
background: #F7991E;
}
.portletLogin .label {
padding: 4px;
display: block;
margin: 10px;
}
.portletLogin .portletItem {
padding-top: 0;
padding-bottom: 5px;
}
.portletLogin dt.portletHeader a.tile {
color: white;
font-weight: bold;
}
input#__ac_name,
input#__ac_password {
width: 130px;
margin-top: 4px;
}
.portletLogin div.field {
margin-bottom: 12px;
}


/* - SubSkins_bottom1.css - */


#portal-footer{
padding: 1em;
border-bottom: 1px solid #bcbcbc;
background: #eee url(bg-footer.jpg) top left repeat-x;
color: #666;
text-align: center;
font-size: 0.875em;
display: none;
}
#portal-footer p{
margin: 0;
}
#portal-colophon{
padding: 1em 1em 0.5em;
border-top: #999;
color: #ccc;
font-size: 0.875em;
margin: 0 50px 0 50px;
text-align: center;
}
#portal-colophon a{
color: #ccc;
}
#portal-colophon p{
display: inline;
margin: 0;
padding-left: 0.5em;
}
#portal-colophon ul{
list-style-type: none;
display: inline;
margin: 0;
}
#portal-colophon ul li{
display: inline;
padding-left: 0.5em;
}
.colophonWrapper{
display: inline;
}


/* - SubSkins_base_1.css - */

body {
position: relative;
background: #AC6914;
}


#visual-portal-wrapper{
position: relative;
width:  845px;
background: #fff;
text-align: left;
margin: 0 auto;
}
#portal-columns{
}
#portal-column-one{
width:  150px;
padding: 0 20px;
color: #ccc;
background: #fff;
border-right: 1px solid #ccc;
background: white;
}
#portal-column-two{
width:  150px;
padding: 0 20px;
color: #ccc;
background: white;
}
#portal-column-content{
padding: 10px 20px;
}
#content{
}

/* - SubSkins_navigation_Clean_simple_2.css - */
.portletNavigationTree  {
background: white;
border: none;
}
.portletNavigationTree  .portletItem {
padding: 0;
}
a.navTreeCurrentItem {
font-weight: bold;
padding-left: 7px;
margin-left: -11px;
border-left: 5px solid #F7991E;
color: black;
}
.portletNavigationTree  li a:hover,
a.navTreeCurrentItem {
font-weight: bold;
}
.portletNavigationTree  li {
padding: 4px 10px 4px 15px;
border-bottom: 1px solid #CCCCCC;
line-height: 16px;
}
.portletNavigationTree  a {
text-decoration: none;
}
li.navTreeItem.visualNoMarker li {
padding-left: 10px;
line-height: 12px;
border-bottom: 0px;
padding-bottom: 4px;
}
