/* - SubSkins_globalnav_abit_round_32.css - */
#portal-globalnav {
clear: both;
display: block;
padding: 0 5px;;
background: transparent;
margin: 10px;
border-bottom: 8px solid #FF9E00;
height: 22px;
}
#portal-globalnav ul {
font: bold 11px Arial, Verdana, sans-serif;
list-style: none;
}
#portal-globalnav li {
display: block;
padding: 0;
text-transform: uppercase;
float: left;
background: #FF9E00 url(white-dot.gif) no-repeat left top;
margin: 0 2px 0 0;
padding: 0 0 1px 3px;
text-decoration: none;
letter-spacing: 1px;
height: 19px;
}
#portal-globalnav li a {
color: white;
float: left;
display: block;
background: transparent url(white-dot.gif) no-repeat right top;
padding: 4px 9px 2px 6px;
}
#portal-globalnav li:hover,
#portal-globalnav li.selected {
background: #009ECE;
}

/* - SubSkins_portlets_clean_small_III.css - */

.portlet {
margin: 0 0 23px 0;
color: #666666;
border: 0 none;
font: normal 10px verdana, helvetica, sans-serif;
border-collapse: collapse;
background-color:  #ffeccc;
}
.portlet a.tile {
color: #333;
text-decoration: none;
clear: both;
}
.portlet ul {
list-style-type: none;
}
.portlet ul, .portlet dl, .portlet li, .portlet dt, .portlet dd {
margin: 0;
}
.portletHeader {
background: #FF9E00 url(subskins_getimage/%23FF9E00/mountains.png) no-repeat right top;
height: 26px;
margin: 0;
padding: 0;
color: whitesmoke;
font-variant: normal;
text-transform: none;
font-size: 12px;
line-height: 26px;
padding-left:  10px;
}
.portletCalendar dt.portletHeader {
padding-left: 0;
background: #009ECE url(subskins_getimage/%23009ECE/mountains.png) no-repeat right top;
}
.portletHeader a.tile {
text-decoration: none;
text-transform: capitalize !important;
color: whitesmoke;
padding-top: 0px
}
.portletNavigationTree .portletItem,
.portletCalendar .portletItem{
padding: 0;
}
.portletItem {
padding: 6px 10px;
}
.portletItemDetails {
font-weight: normal;
font-style: normal;
font-size: 9px;
padding-right: 10px;
margin-bottom: 6px;
padding-top: 2px;
clear: both;
display: block;
}
.portlet.portletThirdWidth {
margin-top: 20px !important;
margin-right:22px !important;
}
#portlet-page-view {
background-color: #F7D708;
}
#portlet-page-view p {
margin: 4px 6px 12px 6px;
color: white;
font-size: 12px;
}
.portletItem  img.image-inline {
border: 2px solid whitesmoke;
}
.boardCommentHeaderTitleBlock {
font-size: 134%;
line-height: 150%;
}
#portlet-page-view a {
color: white;
}
.portletHeader a {
color: whitesmoke;
}
.visualNoMarker img {
float: left;
margin-right: 5px;
margin-top: -1px;
}
dd.portletFooter {
line-height: 20px;
padding-left: 10px;
}
.portletFooter {
background: #9CCF31  url(subskins_getimage/%239CCF31/menu_item.gif);
border: 0 none;
padding: 2px 15px;
clear: both;
text-align: right;
border-top: 1px solid #F7D708;
}
.portletFooter a {
color: black;
text-align: right;
line-height: 130%;
}
.portletLogin  dt {
background: #009ECE;
}
.portletLogin .label {
padding: 4px;
display: block;
margin: 10px;
}
.portletLogin .portletItem {
padding-top: 0;
padding-bottom: 5px;
}
.portletLogin dt.portletHeader a.tile {
color: white;
font-weight: bold;
}
input#__ac_name,
input#__ac_password {
width: 130px;
margin-top: 4px;
}
.portletLogin div.field {
margin-bottom: 12px;
}



/* - SubSkins_bottom_display_none.css - */

#portal-footer {
display:none;
}
#portal-colophon {
display:none;
}


/* - SubSkins_base_black.css - */

body {
position: relative;
background: black;
}


#visual-portal-wrapper{
position: relative;
background: #fff;
text-align: left;
width:  880px;
margin: 6px auto;
}
#portal-column-one{
width:   170px;
padding: 0 20px;
color: #ccc;
background: #fff;
border-right: 1px solid #ccc;
background: white;
}
#portal-column-two{
width:   150px;
padding: 0 20px;
color: #ccc;
background: white;
}
#portal-column-content{
padding: 10px 20px;
}


/* - SubSkins_text_koha.css - */

body {
font-family: verdana, helvetica, sans-serif;
font-size: 11px;
}
h1 {
color: #01679a;
font: normal 20px/27px verdana, helvetica, sans-serif;
margin-top: 17px;
}
h1.documentFirstHeading {
margin-top: 0px;
}
.boardCommentDetails {
background: grey url(subskins_getimage/%23009ECE/blue_grid.jpg) repeat;
color: whitesmoke;
}
h2 {
font-family: verdana, helvetica, sans-serif;
font-size: 14px;
line-height: 18px;
font-weight: bold;
margin-top: 17px;
}
h5 {
margin-bottom: 11px;
}
p.documentDescription,
.documentDescription {
padding: 9px 0px 0px 0px;
font: 12px/18px verdana, helvetica, sans-serif;
}
#parent-fieldname-imageCaption {
display: block;
padding-bottom: 10px;
padding-top: 4px;
width: 100%;
color: black;
font: bold 11px "Lucida Grande", Lucida, Verdana, sans-serif;
}
a {
font-family: verdana, helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #666666;
text-decoration: none;
}
a:hover {
color: #000000;
}
p {
font-family: verdana, helvetica, sans-serif;
font-size: 11px;
line-height: 16px;
margin-bottom: 5px;
}
p a:link {
color: #000000;
}
img {
border: none;
vertical-align: middle;
}
.newsImageContainer img {
float: left;
margin: 3px 25px 10px 0;
}
img.image-left {
float: left;
margin: 5px 25px 15px 0;
padding: 5px;
border: 2px solid #01679a;
}
h3 {
background: #01679a;
color: whitesmoke;
padding: 3px 8px;
margin-top: 16px;
margin-bottom: 10px;
}
input {
border: 1px solid #ccc;
margin: 5px 0;
}
input.standalone {
background: white url(subskins_getimage/%23CE0000/bullet.gif) no-repeat 6px center;
padding: 6px 10px 6px 30px;
}
#content div a.link-parent {
padding-left: 22px;
padding-top: 9px;
background: url(subskins_getimage/%23009ECE/bullet.gif) no-repeat 0 9px;
}
#form label {
color: #336699;
margin-right: 6px;
}
#form fieldset input {
padding: 3px;
margin-right: 5px;
}
#content-core ul  {
margin: 0.5em 0 0.75em 1.5em;
list-style-type: disc;
font-size: 11px;
}
ol {
margin: 0.5em 0 0.75em 2em;
}
#content-core li {
list-style-image: url(subskins_getimage/%23FF9E00/red-bullet.gif);
margin: 0.3em 0 0.3em 2.5em;
list-style-position: outside;
}
#content-core li {
margin: 0.5em;
}
.visualNoMarker li {
list-style-image: none !important;
}
dl {
margin: 0.5em 1em 0.75em;
}
dt {
margin: 0.75em 0;
font-weight: bold;
}
dd {
margin: 0.5em 0;
}
a.tile {
color: black;
}
fieldset {
padding: 1em 2em;
border: 1px solid #ccc;
margin-bottom: 12px;
background: whitesmoke;
}
legend {
font-weight: bold;
}
form {
border: 0;
}
label {
font: 11px verdana, helvetica, sans-serif;
font-weight: bold;
display: inline;
}
textarea {
border: 1px solid #ccc;
margin: 5px 0;
}
select {
border: 1px solid #ccc;
}
.field {
font: 11px verdana, helvetica, sans-serif;
margin-top: 0.75em;
}
.formControls input, .searchButton {
padding: 2px;
padding-left: 20px;
}
table {
border-collapse: collapse;
font-size: 1em;
}
#content table.listing thead tr th {
background: whitesmoke;
line-height: 200%;
}
tbody {
}
tr {
}
th {
}
td {
}
em {
font-style: normal;
font-weight: bold;
}
strong {
font-weight: bold;
}
cite, q {
}
blockquote {
margin: 0.7em 0;
padding: 0.5em 11px;
border: 1px solid  #01679a;
;
color: #01679a;
;
}
#content div.plain blockquote {
clear: both;
}
code, kbd {
background: #333;
color: #ccc;
font-family: "Lucida console", Lucida, Monaco, "Courier New", Courier, monospace;
}
pre {
margin: 1em 0em;
padding: 0.7em 0.3em;
background: whitesmoke;
color: #3d3d3d;
font-family: "Lucida console", Lucida, Monaco, "Courier New", Courier, monospace;
}
ins {
}
del {
color: #999;
text-decoration: overline;
}
.portalMessage {
padding: 0.375em 1em;
margin-left: 0;
margin-right:  0;
background: #9CCF31;
border: 1px solid #eb0000;
}
div.documentActions ul {
margin: 10px 0;
text-align: right;
padding: 0;
padding-top: 5px;
width: 100%;
display: block;
}
.documentActions ul li {
display: inline;
margin-left: 7px !important;
}
.documentActions ul li a {
border: 0;
padding-right: 0;
margin-right: 0;
}
.documentDescription {
margin-bottom: 1.5em;
}
.comment {
border: 1px solid #ccc;
background: #f3f3f3;
}
#Xregion-content div dl dt span.discreet {
display: none;
}
#content   table.listing span.discreet {
font-weight: normal;
font-style: normal;
font-size: 10px;
color: #666;
}
#content div.poweredBy {
margin-top: 20px;
}
.photoAlbumEntryWrapper {
float: left;
}
.photoAlbumEntryTitle {
float: left;
clear: both;
margin-top: 6px;
}
#content div div.photoAlbumEntry a {
float: left;
margin: 20px 20px 10px 0
}

/* - SubSkins_navigation_Clean_simple.css - */
.portletNavigationTree  {
background: white;
border: none;
}
.portletNavigationTree  .portletItem {
padding: 0;
}
a.navTreeCurrentItem {
font-weight: bold;
padding-left: 7px;
margin-left: -11px;
border-left: 5px solid #CE0000;
color: black;
}
.portletNavigationTree  li a:hover,
a.navTreeCurrentItem {
font-weight: bold;
}
.portletNavigationTree  li {
padding: 4px 10px 4px 15px;
border-bottom: 1px solid #CCCCCC;
line-height: 16px;
}
.portletNavigationTree  a {
text-decoration: none;
}
li.navTreeItem.visualNoMarker li {
padding-left: 10px;
line-height: 12px;
border-bottom: 0px;
padding-bottom: 4px;
}

/* - SubSkins_calendar_small145.css - */
.dayPopup {
background-color: #9CCF31;
padding: 0.2em;
position: absolute;
visibility: hidden;
width: 12em;
z-index: 2;
border: 1px solid #F7D708;
}
.date {
font-weight: bold;
}
.ploneCalendar {
width: 100%;
border-collapse: separate;
border-spacing: 1px;
border: 1px solid #CE0000 ;
margin: 0;
padding: 0;
background: #f2f2f2;
}
.portletCalendar dt.portletHeader {
text-align: center;
font-size: 11px;
padding: 0;
}
.portletCalendar .portletItem {
border-style: none !important;
border-width: 0;
padding:  0;
}
.ploneCalendar a:hover {
text-decoration: none;
}
.ploneCalendar th {
padding: 0.3em;
background: #CE0000 url(subskins_getimage/%23CE0000/menu_item.gif) repeat-x left;
color: whitesmoke;
text-align: center;
font-weight: normal;
border-bottom: 1px solid  #CE0000;
}
.ploneCalendar td {
text-align: center;
color: #454545;
line-height: 1.3em;
}
.ploneCalendar .weekdays td {
text-align: center;
}
.ploneCalendar .event {
font-weight: bold;
background-color: #A2282C;
}
.ploneCalendar .todayevent {
background-color: #CE0000;
font-weight: bold;
color: whitesmoke;
}
.ploneCalendar .todaynoevent {
border-collapse: collapse;
border: 2px solid #CE0000;
}


/* - SubSkins_top_nothing_special.css - */
#portal-top {
width: 100%;
height: auto;
background: white;
}
#portal-header {
width: 100%;
}
#portal-logo img{
margin: 20px 30px 14px;
}
#portal-searchbox {
float: left;
height: 30px;
margin: 0;
padding: 0;
position: absolute;
top: 40px;
right: 20px;
}
div.searchSection {
display: none;
}
#searchGadget,
input.searchButton {
margin: 0;
line-height: 16px;
padding: 2px;
}
input.searchButton {
padding-left: 20px;
}
#portal-siteactions {
display: block;
float: right;
line-height: 30px;
margin: 0;
margin-left: 12px;
margin-right: 12px;
padding: 0;
}
#portal-siteactions li {
display: inline;
padding: 0;
padding-right: 12px;
line-height: 20px;
font-size: 8pt;
}
#portal-siteactions li a {
opacity: 0.40;
border: 0;
}
#portal-siteactions li a:hover {
opacity: 1;
}
div#portal-personaltools-wrapper {
float: right;
width: 300px;
height: 30px;
}
#portal-personaltools {
float: right;
margin: 0.5em 0;
padding: 0;
}
#portal-personaltools li {
display: inline;
list-style: none;
list-style-image: none;
}
#portal-personaltools li a {
text-decoration: none;
margin-right: 1em;
margin-left: 1em;
}
#portal-breadcrumbs {
padding: 8px 15px;
background: white;
}

.LSRes {
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
visibility: visible;
color: #666666;
background-color: white;
vertical-align: middle;
display: block;
list-style-image: none;
list-style-type: none;
text-align: left;
min-width: 16.5em;
text-transform: none;
margin-left: 0;
line-height: 1em;
}
#LSHighlight {
background-color: white;
}
.LSRow {
padding: 0;
margin: 0;
list-style-image: none;
list-style-type: none;
}
.LSRow a {
text-decoration: none;
font-weight: bold;
white-space: nowrap
}
.LSDescr {
color: #777777;
text-transform: lowercase;
padding-left: 2.1em;
margin-top: -0.1em;
}
.LSResult {
position: relative;
display: block;
text-align: right;
padding-top: 0px;
padding-bottom: 0px;
margin: 0;
left: 3px;
top: 1em;
z-index: 3;
}
.LSShadow {
position: relative;
}
.livesearchContainer {
background-color: white;
margin-top: 0;
padding: 0 !important;
position: absolute;
left: 0px;

top: 0;
white-space: normal;
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
visibility: visible;
text-align: left;
color: #666666;
border: 1px solid #999999;
width: 30em;
text-transform: none;
}
* html .livesearchContainer {
padding: 1px !important;
padding-top: 0 !important;
background-color: white;
border: 0;
}
#livesearchLegend {
line-height: 1em;
margin-top: -2em;
margin-left: -0.1em;
border: 2px solid #999999;
border-bottom: 0;
}
* html #livesearchLegend {
margin-top: -1.9em;
margin-left: -8px;
position: relative;
}

.LSIEFix {
background-color: white;
padding: 0.5em !important;
z-index: 20;
}
.LSBox {
clear: left;
text-align: right;
padding-top: 3px;
display: block;
}
#LSNothingFound {
text-align: center;
padding: 2px;
}
