/* - SubSkins_base_useit.css - */

.colophonWrapper a{
color: white;
}
body{
position: relative;
background-color: #183152;
}
#visual-portal-wrapper {
position: relative;
text-align: left;
position: relative;
width:  100%;
}
#portal-columns {
background-color: #EEF8FF;
border-top:4px solid #375D81;
}
#portal-columns > tbody {
width: 880px !important;
display: block;
margin:  10px auto;
}
#portal-column-one{
width: 170px;
padding: 15px 0px;
padding-left: 0 !important;
}
#portal-column-two{
width: 170px;
padding: 15px 0px;
}
#portal-column-content{
padding: 15px 20px;
}
.documentContent {
font-size: 110%;
padding: 1em 1em 2em 1em !important;
background: White;
}


/* - SubSkins_top_nothing_special.css - */

#portal-top {
width: 100%;
height: auto;
background: white;
}
#portal-header {
width: 100%;
}
#portal-logo img{
margin: 20px 30px 14px;
}
#portal-searchbox {
float: left;
height: 30px;
margin: 0;
padding: 0;
position: absolute;
top: 135px;
right: 30px;
}
div.searchSection {
display: none;
}
#searchGadget,
input.searchButton {
margin: 0;
line-height: 16px;
padding: 2px;
}
input.searchButton {
padding-left: 20px;
}
#portal-siteactions {
display: block;
float: right;
line-height: 30px;
margin: 0;
margin-left: 12px;
margin-right: 12px;
padding: 0;
}
#portal-siteactions li {
display: inline;
padding: 0;
padding-right: 12px;
line-height: 20px;
font-size: 8pt;
}
#portal-siteactions li a {
opacity: 0.40;
border: 0;
}
#portal-siteactions li a:hover {
opacity: 1;
}
div#portal-personaltools-wrapper {
float: right;
width: 300px;
height: 30px;
}
#portal-personaltools {
float: right;
margin: 0.5em 0;
padding: 0;
}
#portal-personaltools li {
display: inline;
list-style: none;
list-style-image: none;
}
#portal-personaltools li a {
text-decoration: none;
margin-right: 1em;
}
#portal-breadcrumbs {
padding: 8px 15px;
background: white;
}

.LSRes {
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
visibility: visible;
color: #666666;
background-color: white;
vertical-align: middle;
display: block;
list-style-image: none;
list-style-type: none;
text-align: left;
min-width: 16.5em;
text-transform: none;
margin-left: 0;
line-height: 1em;
}
#LSHighlight {
background-color: white;
}
.LSRow {
padding: 0;
margin: 0;
list-style-image: none;
list-style-type: none;
}
.LSRow a {
text-decoration: none;
font-weight: bold;
white-space: nowrap
}
.LSDescr {
color: #777777;
text-transform: lowercase;
padding-left: 2.1em;
margin-top: -0.1em;
}
.LSResult {
position: relative;
display: block;
text-align: right;
padding-top: 0px;
padding-bottom: 0px;
margin: 0;
left: 3px;
top: 1em;
z-index: 3;
}
.LSShadow {
position: relative;
}
.livesearchContainer {
background-color: white;
margin-top: 0;
padding: 0 !important;
position: absolute;
left: 0px;

top: 0;
white-space: normal;
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
visibility: visible;
text-align: left;
color: #666666;
border: 1px solid #999999;
width: 30em;
text-transform: none;
}
* html .livesearchContainer {
padding: 1px !important;
padding-top: 0 !important;
background-color: white;
border: 0;
}
#livesearchLegend {
line-height: 1em;
margin-top: -2em;
margin-left: -0.1em;
border: 2px solid #999999;
border-bottom: 0;
}
* html #livesearchLegend {
margin-top: -1.9em;
margin-left: -8px;
position: relative;
}

.LSIEFix {
background-color: white;
padding: 0.5em !important;
z-index: 20;
}
.LSBox {
clear: left;
text-align: right;
padding-top: 3px;
display: block;
}
#LSNothingFound {
text-align: center;
padding: 2px;
}

/* - columns-padding.css - */

td#portal-column-one,
td#portal-column-two {
padding: 20px;
}

/* - portlet_background-whitesmoke.css - */
.portlet {
background: #f4f4f4 !important;
}

/* - SubSkins_bottom_mirror.css - */

#portal-colophon {
background: #183152 url(subskins_getimage/%23183152/forlopIV.gif) repeat-x;
color: #ffffff;
text-align: center;
height: 110px;
border-top: 1px solid #375D81;
margin: 0 auto;
padding: 12px 0;
font-size: smaller;
}
#portal-colophon div.colophonWrapper {
width: 880px;
margin: 0 auto;
}
#portal-colophon ul {
list-style-image: none;
list-style-type: none;
}
#portal-colophon ul li {
display: inline !important;
font-size: 90%;
padding: 0 0.75em;
color: white;
}
#portal-colophon ul li a {
text-decoration: none;
border-bottom: 1px #ccc solid;
color: white;
}
#portal-footer {
font-size: 12px;
color: #dee7ec;
line-height: 1.2em;
text-align: center;
width: 880px;
margin: 0 auto;
display: block;
padding: 5px 0;
background: #183152
}
#portal-footer p {
margin: 0.25em 0;
}
#portal-footer a {
color: white;
margin: 3px;
font-style: italic;
text-decoration: none;
}
#portal-footer a:visited {
color: #436977;
}
#portal-footer a:hover {
text-decoration: underline;
}

/* - SubSkins_text_koha_12.css - */

body {
font-family: verdana, helvetica, sans-serif;
font-size: 11px;
}
h1 {
color: #183152;
font: normal 20px/27px verdana, helvetica, sans-serif;
margin-top: 17px;
}
h1.documentFirstHeading {
margin-top: 0px;
}
.boardCommentDetails {
background: grey url(blue_grid.jpg);
color: whitesmoke;
}
h2 {
font-family: verdana, helvetica, sans-serif;
font-size: 14px;
line-height: 18px;
font-weight: bold;
margin-top: 17px;
}
h5 {
margin-bottom: 11px;
}
p.documentDescription,
.documentDescription {
padding: 9px 0px 0px 0px;
font: 12px/18px verdana, helvetica, sans-serif;
}
#parent-fieldname-imageCaption {
display: block;
padding-bottom: 10px;
padding-top: 4px;
width: 100%;
color: black;
font: bold 11px "Lucida Grande", Lucida, Verdana, sans-serif;
}
a {
font-family: verdana, helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #375D81;
text-decoration: none;
}
a:hover {
color: #000000;
}
p {
font-family: verdana, helvetica, sans-serif;
font-size: 11px;
line-height: 16px;
margin-bottom: 5px;
}
p a:link {
color: #000000;
}
img {
border: none;
vertical-align: middle;
}
.newsImageContainer img {
float: left;
margin: 3px 25px 10px 0;
}
img.image-left {
float: left;
margin: 5px 25px 15px 0;
padding: 5px;
border: 2px solid #183152;
}
img.image-right {
float: right;
margin: 5px 0 15px 25px;
padding: 5px;
border: 2px solid #183152;
}
h3 {
background: #183152;
color: whitesmoke;
padding: 3px 8px;
margin-top: 16px;
margin-bottom: 10px;
}
input {
border: 1px solid #ccc;
margin: 5px 0;
}
input.standalone {
background: white url(subskins_getimage/%23375D81/bullet.gif) no-repeat 6px center;
padding: 6px 10px 6px 30px;
}
#content div a.link-parent {
padding-left: 22px;
padding-top: 9px;
background: url(subskins_getimage/%23375D81/bullet.gif) no-repeat 0 9px;
}
#form label {
color: #375D81;
margin-right: 6px;
}
#form fieldset input {
padding: 3px;
margin-right: 5px;
}
#content-core ul  {
margin: 0.5em 0 0.75em 0.5em;
list-style-type: disc;
font-size: 11px;
}
#content-core ul  {
margin: 0.5em 0 0.75em 1.5em;
list-style-type: disc;
font-size: 11px;
}
ol {
margin: 0.5em 0 0.75em 2em;
}
#content-core li {
list-style-image: url(subskins_getimage/%23183152/red-bullet.gif);
margin: 0.3em 0 0.3em 2.5em;
list-style-position: outside;
}
#content-core li {
margin: 0.5em;
}
.visualNoMarker li {
list-style-image: none !important;
}
dl {
margin: 0.5em 1em 0.75em;
}
dt {
margin: 0.75em 0;
font-weight: bold;
}
dd {
margin: 0.5em 0;
}
a.tile {
color: black;
}
fieldset {
padding: 1em 2em;
border: 1px solid #ccc;
margin-bottom: 12px;
background: whitesmoke;
}
legend {
font-weight: bold;
}
form {
border: 0;
}
label {
font: 11px verdana, helvetica, sans-serif;
font-weight: bold;
display: inline;
}
textarea {
border: 1px solid #ccc;
margin: 5px 0;
}
select {
border: 1px solid #ccc;
}
.field {
font: 11px verdana, helvetica, sans-serif;
margin-top: 0.75em;
}
.formControls input, .searchButton {
padding: 2px;
padding-left: 20px;
}
table {
border-collapse: collapse;
font-size: 1em;
}
#content table.listing thead tr th {
background: whitesmoke;
line-height: 200%;
}
tbody {
}
tr {
}
th {
}
td {
}
em {
font-style: normal;
font-weight: bold;
}
strong {
font-weight: bold;
}
cite, q {
}
blockquote {
margin: 0.7em 0;
padding: 0.5em 11px;
border: 1px solid  #183152;
;
color: #183152;
;
}
#content div.plain blockquote {
clear: both;
}
code, kbd {
background: #333;
color: #ccc;
font-family: "Lucida console", Lucida, Monaco, "Courier New", Courier, monospace;
}
pre {
margin: 1em 0em;
padding: 0.7em 0.3em;
background: whitesmoke;
color: #3d3d3d;
font-family: "Lucida console", Lucida, Monaco, "Courier New", Courier, monospace;
}
del {
color: #999;
text-decoration: overline;
}
.portalMessage {
padding: 0.375em 1em;
margin-left: 0;
margin-right:  0;
background: #E5F1FA;
border: 1px solid #eb0000;
}
div.documentActions ul {
margin: 10px 0;
text-align: right;
padding: 0;
padding-top: 5px;
width: 100%;
display: block;
}
.documentActions ul li {
display: inline;
margin-left: 7px !important;
}
.documentActions ul li a {
border: 0;
padding-right: 0;
margin-right: 0;
}
.documentDescription {
margin-bottom: 1.5em;
}
.comment {
border: 1px solid #ccc;
background: #f3f3f3;
}
#Xregion-content div dl dt span.discreet {
display: none;
}
#content  table.listing span.discreet {
font-weight: normal;
font-style: normal;
font-size: 10px;
color: #666;
}
#content div.poweredBy {
margin-top: 20px;
}
.photoAlbumEntryWrapper {
float: left;
}
.photoAlbumEntryTitle {
float: left;
clear: both;
margin-top: 6px;
}
#content  div div.photoAlbumEntry a {
float: left;
margin: 20px 20px 10px 0
}

/* - SubSkins_globalnav_display_none.css - */

#portal-globalnav {
display: none;
}


/* - SubSkins_portlets_clean_small_II.css - */
.portlet {
margin: 0 0 23px 0;
color: #666666;
border: 0 none;
font: normal 10px verdana, helvetica, sans-serif;
border-collapse: collapse;
background-color:  #ebeff3;
}
.portlet a.tile {
color: #333;
text-decoration: none;
clear: both;
}
.portlet ul {
list-style-type: none;
}
.portlet ul, .portlet dl, .portlet li, .portlet dt, .portlet dd {
margin: 0;
}
.portletHeader {
background: #375D81 url(subskins_getimage/%23375D81/earth_pattern.png) repeat-x left center;
height: 26px;
margin: 0;
padding: 0;
color: whitesmoke;
font-variant: normal;
text-transform: none;
font-size: 12px;
line-height: 26px;
padding-left:  10px;
}
.portletCalendar dt.portletHeader {
padding-left: 0;
background: #ABC8E2 url(subskins_getimage/%23ABC8E2/earth_pattern.png) repeat-x left center;
}
.portletHeader a.tile {
text-decoration: none;
text-transform: capitalize !important;
color: whitesmoke;
padding-top: 0px
}
.portletNavigationTree .portletItem,
.portletCalendar .portletItem{
padding: 0;
}
.portletItem {
padding: 6px 10px;
}
.portletItemDetails {
font-weight: normal;
font-style: normal;
font-size: 9px;
padding-right: 10px;
margin-bottom: 6px;
padding-top: 2px;
clear: both;
display: block;
}
.portlet.portletThirdWidth {
margin-top: 20px !important;
margin-right:22px !important;
}
#portlet-page-view {
background-color: #D3E3F5;
}
#portlet-page-view p {
margin: 4px 6px 12px 6px;
color: white;
font-size: 12px;
}
.portletItem  img.image-inline {
border: 2px solid whitesmoke;
}
.boardCommentHeaderTitleBlock {
font-size: 134%;
line-height: 150%;
}
#portlet-page-view a {
color: white;
}
.portletHeader a {
color: whitesmoke;
}
.visualNoMarker img {
float: left;
margin-right: 5px;
margin-top: -1px;
}
dd.portletFooter {
line-height: 20px;
padding-left: 10px;
}
.portletFooter {
background: #375D81  url(subskins_getimage/%23375D81/menu_item.gif);
border: 0 none;
padding: 2px 15px;
clear: both;
text-align: right;
border-top: 1px solid #ABC8E2;
}
.portletFooter a {
color: white;
text-align: right;
line-height: 130%;
}
.portletLogin  dt {
background: #375D81;
}
.portletLogin .label {
padding: 4px;
display: block;
margin: 10px;
}
.portletLogin .portletItem {
padding-top: 0;
padding-bottom: 5px;
}
.portletLogin dt.portletHeader a.tile {
color: white;
font-weight: bold;
}
input#__ac_name,
input#__ac_password {
width: 130px;
margin-top: 4px;
}
.portletLogin div.field {
margin-bottom: 12px;
}

/* - SubSkins_navigation_2_5.css - */

#portlet-navigation-tree .portletItem{
padding:0px 0px 0px 0px;
background-image: none;
overflow: hidden;
font-family: tahoma, arial, verdana, sans-serif;
list-style-type: none;
}
.portletNavigationTree{
list-style-type: none;
padding: 0px;
border: 0;
border-bottom-style: none;
}
.portletNavigationTree ul{
padding:0px 0px 0px 0px;
margin:0px;
list-style:none;
z-index:2;
border-top: 1px solid #E5F1FA;
}
.portletNavigationTree li{
margin: 0;
}
.portletNavigationTree li a{
display: block;
width: auto;
padding: 6px 6px;
padding-left: 10px;
border-top: 0px;
border-right: 0px;
color: #375D81;
text-decoration: none;
border-bottom: 1px solid  #E5F1FA;
}
.portletNavigationTree li.navTreeItem a.navTreeCurrentItem{
color: #375D81;
}
.portletNavigationTree li a:hover,
a.navTreeCurrentItem{
color: black;
}
.portletNavigationTree li a:hover{
font-weight: bold;
color: black;
}
.portletNavigationTree .navTreeLevel1 li a {
padding-left: 0.75em;
color: black;
font-weight: normal;
font-style: normal;
}
.portletNavigationTree .navTreeLevel2 li a {
padding-left: 1.5em;
color: black;
font-weight: normal;
font-style: normal;
}
.portletNavigationTree .navTreeLevel3 li a {
padding-left: 2.25em;
color: black;
font-weight: normal;
font-style: normal;
}
.portletNavigationTree .navTreeLevel2 a:hover {
padding-left: 1.5em;
}
.portletNavigationTree .navTreeLevel3 a:hover {
padding-left: 2.25em;
}
