/* - SubSkins_base_black.css - */

body {
position: relative;
background: black;
}


#visual-portal-wrapper{
position: relative;
background: #fff;
text-align: left;
width:  890px;
margin: 6px auto;
}
#portal-column-one{
width:   150px;
padding: 0 20px;
color: #ccc;
background: #fff;
border-right: 1px solid #ccc;
background: white;
}
#portal-column-two{
width:   150px;
padding: 0 20px;
color: #ccc;
background: white;
}
#portal-column-content{
padding: 10px 20px;
}


/* - SubSkins_top_trans.css - */
 
#portal-top {
width: 100%;
height: auto;
background: transparent;
}
#portal-header {
width: 100%;
background: transparent;
}
#portal-logo {
float: left;
}
#portal-logo img{
margin: 10px;
}
#portal-searchbox {
float: right;
height: AUTO;
margin: 10px 0;
padding: 0;
width: 150px;
font-size: smaller;
}
div.searchSection {
display: none;
}
#searchGadget,
input.searchButton {
margin: 0;
line-height: 11px;
padding: 0 0 0 7px;
height: 18px;
}
input.searchButton {
height:  20px;
width: 25px;
overflow: hidden;
color: transparent;
}
#portal-siteactions {
display: block;
float: right;
margin: 0;
padding: 0;
}
#portal-siteactions li {
display: inline;
width: 30px;
overflow: hidden;
float: left;
padding: 8px 0 0 0;
margin-top:  10px;;
font-size: 8pt;
}
#portal-siteactions li a {
opacity: 0.40;
border: 0;
}
#portal-siteactions li a:hover {
opacity: 1;
}
li#siteaction-sitemap a {
color: transparent;
background-image: url(http://xweb14f.plana.dk:8096/mountbmh/bingo/subskins_getimage/%239CCF31/sitemap_icon.gif);
background-repeat: no-repeat  ;
}
li#siteaction-accessibility a {
color: transparent;
background-image: url(http://xweb14f.plana.dk:8096/mountbmh/bingo/subskins_getimage/%239CCF31/siteaction_size.png);
background-position: left center;
background-repeat: no-repeat;
}
li#siteaction-contact a {
color: transparent;
background-image: url(http://xweb14f.plana.dk:8096/mountbmh/bingo/subskins_getimage/%239CCF31/mail_icon.png);
background-repeat: no-repeat;
}
div#portal-personaltools-wrapper {
float: right;
width: 300px;
height: 30px;
}
#portal-personaltools {
float: right;
margin: 0.5em 0;
padding: 0;
}
#portal-personaltools li {
display: inline;
list-style: none;
list-style-image: none;
}
#portal-personaltools li a {
text-decoration: none;
margin-right: 1em;
margin-left: 1em;
}
#portal-breadcrumbs {
padding: 8px 15px;
}

.LSRes {
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
visibility: visible;
color: #666666;
background-color: white;
vertical-align: middle;
display: block;
list-style-image: none;
list-style-type: none;
text-align: left;
min-width: 16.5em;
text-transform: none;
margin-left: 0;
line-height: 1em;
}
#LSHighlight {
background-color: white;
}
.LSRow {
padding: 0;
margin: 0;
list-style-image: none;
list-style-type: none;
}
.LSRow a {
text-decoration: none;
font-weight: bold;
white-space: nowrap
}
.LSDescr {
color: #777777;
text-transform: lowercase;
padding-left: 2.1em;
margin-top: -0.1em;
}
.LSResult {
position: relative;
display: block;
text-align: right;
padding-top: 0px;
padding-bottom: 0px;
margin: 0;
left: 3px;
top: 1em;
z-index: 3;
}
.LSShadow {
position: relative;
}
.livesearchContainer {
background-color: white;
margin-top: 0;
padding: 0 !important;
position: absolute;
left: 0px;

top: 0;
white-space: normal;
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
visibility: visible;
text-align: left;
color: #666666;
border: 1px solid #999999;
width: 30em;
text-transform: none;
}
* html .livesearchContainer {
padding: 1px !important;
padding-top: 0 !important;
background-color: white;
border: 0;
}
#livesearchLegend {
line-height: 1em;
margin-top: -2em;
margin-left: -0.1em;
border: 2px solid #999999;
border-bottom: 0;
}
* html #livesearchLegend {
margin-top: -1.9em;
margin-left: -8px;
position: relative;
}

.LSIEFix {
background-color: white;
padding: 0.5em !important;
z-index: 20;
}
.LSBox {
text-align: right;
padding-top: 3px;
display: block;
}
#LSNothingFound {
text-align: center;
padding: 2px;
}

/* - SubSkins_globalnav_sliding.css - */

#portal-globalnav {
height: 32px;
font-size: 14px;
list-style-type: none;
padding: 0;
background: url(menu-pattern.gif) repeat-x 0 0;
margin: 0;
clear:  both;
}
#portal-globalnav ul {
height: 32px;
font-size: 14px;
list-style-type: none;
margin: 0;
padding: 0;
}
#portal-globalnav li {
display: block;
float: left;
border-right: 1px solid #e4e5e5;
padding: 0 12px;
line-height: 32px;
height:  32px;
margin: 0;
}
#portal-globalnav li a {
text-decoration: none;
color: #252525;
margin-top: 0;
margin-bottom: 0;
}
#portal-globalnav li.selected  {
background-color: #CE0000;
border-right: none;
margin-left: -1px;
}
#portal-globalnav li:hover {
text-decoration: none;
background-color: #9CCF31;
}
#portal-globalnav .first {
margin-left: 0;
}
#portal-globalnav li.selected a {
color: white;
}


/* - SubSkins_navigation_25.css - */

#portlet-navigation-tree .portletItem{
padding:0px 0px 0px 0px;
background-image: none;
overflow: hidden;
font-family: tahoma, arial, verdana, sans-serif;
list-style-type: none;
}
.portletNavigationTree{
list-style-type: none;
padding: 0px;
border: 0;
border-bottom-style: none;
}
.portletNavigationTree ul{
padding:0px 0px 0px 0px;
margin:0px;
list-style:none;
z-index:2;
border-top: 1px solid #F7D708;
}
.portletNavigationTree li{
margin: 0;
}
.portletNavigationTree li a{
display: block;
width: auto;
padding: 6px 6px;
padding-left: 10px;
border-top: 0px;
border-right: 0px;
color: #9CCF31;
text-decoration: none;
border-bottom: 1px solid  #F7D708;
background: #F7D708 url(http://xweb14f.plana.dk:8096/mountbmh/bingo/subskins_getimage/%23F7D708/fancy_shadow_n.png) center;
}
.portletNavigationTree li a{
display: block;
width: auto;
padding: 6px 6px;
padding-left: 10px;
border-top: 0px;
border-right: 0px;
color: #9CCF31;
text-decoration: none;
border-bottom: 1px solid  #F7D708;
background: #F7D708 url(http://xweb14f.plana.dk:8096/mountbmh/bingo/subskins_getimage/%23F7D708/forlopII_greyvII.jpg);
}
.portletNavigationTree li.navTreeItem a.navTreeCurrentItem{
color: #9CCF31;
}
.portletNavigationTree li a:hover,
a.navTreeCurrentItem{
color: black;
}
.portletNavigationTree li a:hover{
font-weight: bold;
color: black;
}
.portletNavigationTree .navTreeLevel1 li a {
padding-left: 0.75em;
color: black;
font-weight: normal;
font-style: normal;
}
.portletNavigationTree .navTreeLevel2 li a {
padding-left: 1.5em;
color: black;
font-weight: normal;
font-style: normal;
}
.portletNavigationTree .navTreeLevel3 li a {
padding-left: 2.25em;
color: black;
font-weight: normal;
font-style: normal;
}
.portletNavigationTree .navTreeLevel2 a:hover {
padding-left: 1.5em;
}
.portletNavigationTree .navTreeLevel3 a:hover {
padding-left: 2.25em;
}


/* - SubSkins_portlets_dottet.css - */

.portlet {
margin: 0 0 22px 0;
padding: 5px;
border: 1px dashed #939393;
}
.portlet a.tile {
color: #333;
text-decoration: none;
clear: both;
}
.portlet ul {
list-style-type: none;
}
.portlet ul, .portlet dl, .portlet li, .portlet dt, .portlet dd {
margin: 0;
}
.portletHeader {
text-align: center;
padding: 2px;
border-bottom: 1px dashed #939393;
}
.portletHeader a.tile {
font: bold 1em Helvetica, Arial, "Helvetica Neue", Verdana, Geneva, sans-serif;
padding: 3px 10px;
text-transform: uppercase;
letter-spacing: 1px;
color: #939393;
}
.portletNavigationTree .portletItem,
.portletCalendar .portletItem {
padding: 0;
}
.portletItem {
padding: 6px 10px;
}
.portletItemDetails {
font-weight: normal;
font-style: normal;
font-size: 9px;
padding-right: 10px;
margin-bottom: 6px;
padding-top: 2px;
clear: both;
display: block;
}
dd.portletFooter {
line-height: 25px;
padding-left: 10px;
}
.portletFooter {
border: 0 none;
padding: 1px 13px;
clear: both;
text-align: right;
border-top: 1px dashed #939393;;
}
.portletFooter a {
text-align: right;
line-height: 130%;
}
.portletLogin .portletItem {
padding-top: 0;
padding-bottom: 5px;
}
.portletItem.even {
background: #EEE;
}
input#__ac_name,
input#__ac_password {
width: 130px;
margin-top: 4px;
}
.portletLogin div.field {
padding: 3px;
}



/* - hide_edit_border.css - */

.documentEditable #content {
border: 0px hidden !important;
}


/* - simple_table.css - */

table.listing,
.stx table {

border-collapse: collapse;
border-spacing: 0;
border-left: 1px solid #FF9E00;
border-bottom: 1px solid #FF9E00;
font-size: 0.8em;
margin: 1em 0em 1em 0em;
}
table.listing th,
.stx table th {
background: #FF9E00;
border-top: 1px solid #FF9E00;
border-bottom: 1px solid #FF9E00;
border-right: 1px solid #FF9E00;
font-weight: normal;
padding: 0.25em 0.5em;
text-transform: none;
}
table.listing .top {
border-left: 1px solid #F7D708;
border-top: 1px solid #F7D708 ! important;
border-right: 1px solid #F7D708 ! important;
text-align: right ! important;
padding: 0em 0em 1em 0em;
}
table.listing .listingCheckbox {
text-align: center;
}
table.listing td,
.stx table td {
border-right: 1px solid #FF9E00;
padding: 0.25em 0.5em;
}
table.listing a {
text-decoration: none;
}
table.listing a:hover {
text-decoration: underline;
}
table.listing img {
vertical-align: middle;
}
table.listing td a label,
.stx table td a label {
cursor: pointer;
}

table.vertical {
background-color: #F7D708;
float: right;
width: 260px;
}
table.vertical th {
padding: 0.5em;
}
table.vertical td {
border-top: 1px solid #FF9E00;
padding: 0.5em;
}

table.grid td {
border: 1px solid #FF9E00;
padding: 0.5em;
}

table.plain,
table.plain td,
table.plain th {
border: 1px solid #ccc;
padding: 0.5em;
border-collapse: collapse;
}

.listingBar {
border-color: #999999;
border-style: solid;
border-width: 1px;
border-right: 0 none;
border-left: 0 none;
padding: 0em 1em;
text-align: center;
text-transform: lowercase;
vertical-align: top;
margin: 1em 0em;
font-size: 94%;
clear: both;
}
.listingBar span.previous,
.listingPrevious {
text-align: left;
float: left;
margin-right: 1em;
}
.listingBar span.next,
.listingNext {
text-align: right;
float: right;
margin-left: 1em;
}
.listingBar img {
vertical-align: middle;
}
.listingBar a {
text-decoration: none;
}


/* - SubSkins_bottom1.css - */

#portal-footer{
padding: 1em;
border-bottom: 1px solid #bcbcbc;
background: #eee url(bg-footer.jpg) top left repeat-x;
color: #666;
text-align: center;
font-size: 0.875em;
display: none;
}
#portal-footer p{
margin: 0;
}
#portal-colophon{
padding: 1em 1em 0.5em;
border-top: #999;
color: #ccc;
font-size: 0.875em;
margin: 0 50px 0 50px;
text-align: center;
}
#portal-colophon a{
color: #ccc;
}
#portal-colophon p{
display: inline;
margin: 0;
padding-left: 0.5em;
}
#portal-colophon ul{
list-style-type: none;
display: inline;
margin: 0;
}
#portal-colophon ul li{
display: inline;
padding-left: 0.5em;
}
.colophonWrapper{
display: inline;
}

/* - SubSkins_text_friend.css - */

h1, h2.tileHeadline {
color:  #009ECE;
font: normal 23px/25px helvetica, verdana, sans-serif;
letter-spacing: 1px;
margin: 2px 0px 14px 0px;
}

h2 {
font-size: 20px;
color:  #123456;
line-height: 17px;
margin-top: 17px;
margin: 2px 0px 14px 0px;
}
h2.tileHeadline {
border-top: 2px dotted #009ECE;
margin-top: 20px;
padding-top:33px;
}
.summary.url {
font-style: normal;
font-weight: normal;
text-decoration: none;
}
img.tileImage {
padding-top: 70px;
}
h5 {
margin-bottom: 10px;
}
p.documentDescription,
.documentDescription {
background-image: none;
background: none;
padding: 4px 0px 0px 0px;
color: #2f3130;
font-size: 13px;
line-height: 22px;
font-weight: bold;
}
a {
color: #009ECE;
}
a:hover {
color: #9CCF31;
}
.documentActions {
margin-top:40px;
margin-bottom: 15px;
}
html, p {
font-family: helvetica, verdana, sans-serif;
font-size: 13px;
line-height: 20px;
}
img {
border: none;
}
img.newsImage {
margin-left: 30px;
}
img.image-right,
img.tileImage {
float: right;
margin: 4px 8px 10px 35px;
}
span#parent-fieldname-imageCaption {
padding-left: 20px;
}
div.newsImageContainer {
float: right;
}
p.tileFooter {
margin-top: 10px;
}
p.tileFooter a {
padding: 2px 0;
}
.documentByLine {
margin: 10px 0;
}
.documentByLine,
.documentByLine a {
font-weight: normal;
font-style: normal;
}
img.image-left{
float: left;
margin: 8px 20px 10px 0;
}
input {
border: 1px solid #2f4355;
margin: 5px 0;
}
#content-core  ul {
padding-left: 2em;
}
ol {
margin: 0.5em 0 0.75em 2em;
}
#content-core  li {
margin: 0.5em 0;
}
#content-core  dl {
margin: 0.5em 1em 0.75em;
}
#content-core  dt {
margin: 0.75em 1em;
}
#content-core  dd {
margin: 0.5em 0;
}
a.tile {
color: black;
}
fieldset {
padding: 1em;
border: 1px solid #ccc;
}
legend {
font-weight: bold;
}
form {
border: 0;
}
label {
font-weight: bold;
display: inline;
}
textarea {
border: 1px solid #ccc;
margin: 5px 0;
}
select {
border: 1px solid #ccc;
}
.field {
margin-top: 0.75em;
}
.formControls input, .searchButton {
padding: 2px;
padding-left: 20px;
}
table {
border-collapse: collapse;
}
em {
font-style: normal;
font-weight: bold;
}
strong {
font-weight: bold;
}
cite, q {
}
blockquote {
margin: 0.7em 0;
padding: 0.5em 10px;
border: 1px solid #ccc;
color: #666666;
}
code, kbd {
background: #333;
color: #ccc;
font-family: "Lucida console", Lucida, Monaco, "Courier New", Courier, monospace;
}
pre {
margin: 0.5em 2em 0.75em 2em;
padding: 0.5em;
background: #333;
color: #666666;
font-family: "Lucida console", Lucida, Monaco, "Courier New", Courier, monospace;
}
del {
color: #999;
text-decoration: overline;
}
.portalMessage {
padding: 0.375em 1em;
margin-left: 0;
margin-right:  0;
background: #E5F1FA;
border: 1px solid #e17700;
}
.documentActions ul {
margin: 0;
text-align: right;
}
#content .documentActions ul li {
display: inline;
padding: 3px 4px 3px 7px;
margin-left:4px;
border: 1px solid #CCC;
font-size: 90%;
}
.documentActions ul li a {
border: 0;
text-decoration: none;
}
.documentFirstHeading {
font-weight: normal;
font-style: normal;
padding: 0px;
}
.documentDescription {
padding: 0.5em;
background: #f3f3f3;
margin: 1.5em 0;
}
.comment {
border: 1px solid #ccc;
background: #f3f3f3;
}
.photoAlbumEntryWrapper {
float: left;
}
.photoAlbumEntryTitle {
float: left;
clear: both;
margin-top: 6px;
}
#content  div div.photoAlbumEntry a {
float: left;
margin: 20px 20px 10px 0
}


/* - Plone_Calendar1256.css - */

.dayPopup {
background-color: #F7D708;
border: 1px solid #CE0000;
padding: 0.2em;
position: absolute;
visibility: hidden;
width: 12em;
z-index: 2;
}
.date {
font-weight: bold;
}
.portletCalendar {
width: 100%;
margin: 1px 0 1em 0;
width: 100%;
}
.portletCalendar dt {
background-color: #F7D708;
font-weight: normal;
text-align: center;
line-height: 1.6em;
border-bottom: none;
}
.portletCalendar dd {
margin: 0;
padding: 0;
}
.portletCalendar a {
text-decoration: none;
}
.portletCalendar a:hover {
text-decoration: none;
}
.ploneCalendar {
border-collapse: collapse;
border-spacing:0;
width: 100%;
color: #CE0000;
}
.ploneCalendar td {
background-color: transparent;
width: 14%;
text-align: center;
padding: 2px;
}
.ploneCalendar .weekdays th {
background-color: #A2282C;
border: 1px solid #CE0000;
text-align: center;
padding: 2px;
font-weight: normal;
}
.ploneCalendar .event {
background-color: #F7D708;
font-weight: bold;
}
.ploneCalendar .todayevent {
background-color: #FF9E00;;
border: 2px solid #009ECE;
font-weight: bold;
}
.ploneCalendar .todaynoevent {
border-collapse: collapse;
border: 2px solid #FF9E00;
}

.toc {
float: right;
width: 30%;
font-size: 90%;
margin: 0 0 0.5em 0.5em;
}
.toc .TOC1Digit {
margin-left: 1em;
}
.toc .TOC2Digit {
margin-left: 2em;
}
.toc .TOC3Digit {
margin-left: 3em;
}

#portal-column-one fieldset.livesearchContainer {
right: inherit !important;
top: 1.5em !important;
}
